@use "sass:math";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500&display=swap");

// Локальне підключення шрифтів
@import "_fonts.scss";
// Скидання стилів
@import "_reset.scss";
// Міксіни
@import "_mixins.scss";
// Окремі сторінки
// @import "_home.scss";
// Окремі компоненти
// @import "_header.scss";
// @import "_footer.scss";
// ...@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1320;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// ==========================================================
:root {
  --mainColor: #000000;
  --blackColor: #1e2832;
  --whiteColor: #ffffff;
  --primaryColor: #ff6f61;
  --bgColor: rgba(30, 40, 50, 0.05);
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--mainColor);

  .menu-open & {
    overflow: hidden;
  }
}
.wrapper {
  min-height: 100%;
  overflow: clip;

  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #ffff;
}
.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1320px; //! Oбмежуючий контейнер+відступи
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
//========Загальні стилі==========//
.logo {
  font-family: "AmstelvarAlpha", serif;
  font-size: 28px;
  &::before,
  &::after {
    display: inline-block;
    content: "";
    background: url("../img/header/icons/logo_icon.svg") 0 0 / 100% no-repeat;
    width: toRem(31);
    height: toRem(15);
  }
  &::before {
    margin-right: toRem(10);
    @media (max-width: toEm(480)) {
      margin-right: toRem(5);
    }
    @media (max-width: toEm(390)) {
      display: none;
    }
  }
  &::after {
    margin-left: toRem(10);
    @media (max-width: toEm(480)) {
      margin-left: toRem(5);
    }
    @media (max-width: toEm(390)) {
      display: none;
    }
  }
}

//========Header==========//
.header {
  background-color: var(--bgColor);
  &__container {
    margin-top: toRem(31);
    display: flex;
    flex-direction: column;
    row-gap: toRem(30);
    padding-top: toRem(5);
    padding-bottom: toRem(5);
    @media (max-width: toEm(1181)) {
      margin-top: toRem(15);
    }
  }
  &__top {
  }
  &__menu {
  }
}

.top-header {
  position: relative;
  z-index: 2;
  &::after {
    content: "";
    width: 100%;
    height: toRem(1);
    background-color: #e3e3e3;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: toRem(30);
  }
  &__item {
    &:nth-child(3) {
      display: flex;
      align-items: center;
      column-gap: toRem(15);
    }
  }
  &__search {
    display: flex;
    flex: toRem(217);
    padding: 5px;
    position: relative;
    z-index: 2;
    transition: all 0.4s;

    &:hover {
      border: 1px solid var(--primaryColor);
      border-radius: toRem(8);
      box-shadow: inset 0px 0px 4px #bab6b6;
      transition: all 0.2s;
    }
    &:has(> .entry:focus) {
      outline: 1px solid var(--primaryColor);
    }
  }
  &__icon-search {
    width: toRem(20);
    height: toRem(20);
    & img {
      width: 100%;
    }
  }
  &__entry {
    padding-left: toRem(10);
    cursor: pointer;
    &:focus {
      outline: none;
    }
    @media (max-width: toEm(767.98)) {
      display: none;
    }
  }
  &__logo {
  }
  &__accounts {
    display: flex;
    align-items: flex-end;
    column-gap: toRem(22);
    @media (max-width: toEm(767.98)) {
      column-gap: toRem(15);
    }
  }
  &__button-icon {
    display: none;
  }
}
.icon-menu {
  @media (max-width: toEm(767.98)) {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    flex-shrink: 0;
    z-index: 2;
    & span,
    &::before,
    &::after {
      content: "";
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: black;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    & span {
      top: calc(50% - 1px);
    }
    .menu-open &::before {
      top: 50%;
      transform: rotate(-45deg);
      margin-top: -1px;
    }
    .menu-open &::after {
      bottom: 50%;
      transform: rotate(45deg);
      margin-bottom: -1px;
    }
    .menu-open & span {
      transform: scale(0);
    }
  }
}

.account-item {
  &__account,
  &__shopping {
    display: flex;
    align-items: center;
    flex: 0 0 toRem(100);
    column-gap: toRem(8);
    color: var(--blackColor);
    font-size: toRem(18);
    text-transform: capitalize;
    transition: color 0.4s;
    @media (any-hover: hover) {
      &:hover {
        color: var(--primaryColor);
      }
    }
    @media (max-width: toEm(767.98)) {
      flex-shrink: 1;

      & p {
        display: none;
      }
    }
  }
  &__shopping {
  }
}
.menu {
  &__list {
    display: flex;
    column-gap: toRem(30);
    row-gap: toRem(10);
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: toEm(767.98)) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__item {
    flex-shrink: 0;
  }

  &__link {
    line-height: 1.5; /* 24/16 */
    text-transform: capitalize;
    transition: color 0.4s;
    @media (any-hover: hover) {
      &:hover {
        color: var(--primaryColor);
      }
    }
    @media (max-width: toEm(767.98)) {
      font-size: toRem(28);
    }
    @media (max-width: toEm(320)) {
      font-size: toRem(25);
    }
  }
  @media (max-width: toEm(767.98)) {
    position: fixed;
    top: toRem(71);
    right: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 2;
    gap: toRem(20);
    padding: toRem(18);
    background-color: var(--bgColor);
    transition: all 0.8s;
    .menu-open & {
      right: 0;
    }
  }
}

//----Footer------//
.footer {
  &__main {
  }
  &__bottom {
    background-color: var(--blackColor);
  }
}
.main-footer {
  &__container {
    display: flex;
    // justify-content: space-between;
    column-gap: toRem(30);
    @include adaptiveValue("padding-top", 140, 30);
    @include adaptiveValue("padding-bottom", 140, 30);
    @include adaptiveValue("row-gap", 50, 30);

    @media (max-width: toEm(1000)) {
      flex-wrap: wrap;
    }
  }
  &__label {
    flex: 0 1 toRem(392);
    display: flex;
    flex-direction: column;
    @include adaptiveValue("row-gap", 32, 14);
  }

  &__articals {
    display: flex;
    justify-content: space-between;
    column-gap: toRem(135);
  }

  &__catalog {
  }

  &__about {
  }

  &__customer {
  }
}
.label-main {
  &__logo {
  }
  &__text {
    text-transform: capitalize;
    line-height: 1.9375; /* 31/16 */
    color: rgba(30, 40, 50, 0.75);
    & p:not(:last-child) {
      margin-bottom: toRem(9);
    }
  }
  &__social {
    display: flex;
    @include adaptiveValue("column-gap", 36, 15, 1920, 560);
  }
  &__item {
  }
  &__link {
    width: toRem(20);
    height: toRem(20);
    transition: all 0.4s;
    & img {
      width: 100%;
    }
    &:hover {
      transform: scale(1.3);
    }
  }
}
.artical-main {
  flex-basis: toRem(200);
  flex-shrink: 0;
  &__subtitle {
    font-weight: 600;
    text-transform: uppercase;
    @include adaptiveValue("margin-bottom", 22, 12);
  }
  &__list {
    display: flex;
    flex-direction: column;
    line-height: 1.714286;
    @include adaptiveValue("row-gap", 12, 2);
  }
  &__item {
    transition: all 0.4s;
    @media (any-hover: hover) {
      &:hover {
        color: var(--primaryColor);
      }
    }
    @media (max-width: toEm(489)) {
      flex-grow: 1;
      flex-shrink: 0;
    }
  }
  &__link {
    font-size: toRem(14);
    text-transform: capitalize;
    line-height: 1.714286; /* 24/14 */
  }
}
.bottom-footer {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: toRem(50);
    padding-top: toRem(14);
    padding-bottom: toRem(14);
    color: var(--whiteColor);
    text-transform: capitalize;
    @media (max-width: toEm(767.98)) {
      flex-direction: column;
      row-gap: toRem(20);
    }
  }
  &__date {
  }
  &__payment {
  }

  &__scroll {
    transition: all 0.4s;
    & span {
      display: inline-block;
      content: "";
      background: url("../img/footer/icons/arrow_up_icon.svg") 0 0 no-repeat;
      width: toRem(16);
      height: toRem(14);
      margin-left: 6;
      padding: toRem(4);
    }
    &:hover {
      color: var(--primaryColor);
    }
  }
}

//-------------------------//
.footer {
  &__main {
  }

  &__bottom {
  }
}
.main-footer {
  &__container {
  }

  &__label {
  }

  &__articals {
  }

  &__catalog {
  }

  &__about {
  }

  &__customer {
  }
}
.label-main {
  &__logo {
  }

  &__text {
  }

  &__social {
  }

  &__item {
  }

  &__link {
  }
}
.logo {
}
.artical-main {
  &__subtitle {
  }

  &__list {
  }

  &__item {
  }

  &__link {
  }
}
.bottom-footer {
  &__container {
  }

  &__date {
  }

  &__payment {
  }

  &__scroll {
  }
}
