@use "sass:math";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500&display=swap");

// Локальне підключення шрифтів
@import "_fonts.scss";
// Скидання стилів
@import "_reset.scss";
// Міксіни
@import "_mixins.scss";
// Окремі сторінки
// @import "_home.scss";
// Окремі компоненти
// @import "_header.scss";
// @import "_footer.scss";
// ...@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
// Іконочний шрифт
@import "_icons_font.scss";
// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================
// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1320;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// ==========================================================
:root {
  --mainColor: #000000;
  --blackColor: #1e2832;
  --blackColor50: rgba(30, 40, 50, 0.505);
  --whiteColor: #ffffff;
  --primaryColor: #ff6f61;
  --bgColor: rgba(30, 40, 50, 0.05);
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: toRem(16);
  color: var(--mainColor);

  .menu-open & {
    overflow: hidden;
  }
}
.wrapper {
  min-height: 100%;
  overflow: clip;

  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--whiteColor);
  & > main {
    flex-grow: 1;
  }
}

[class*="__container"] {
  max-width: toRem(1350); //! Oбмежуючий контейнер+відступи
  margin: 0 auto;
  padding-left: toRem(15);
  padding-right: toRem(15);
}
//========Загальні стилі==========//
.logo {
  font-family: "AmstelvarAlpha", serif;
  font-size: 28px;
  &::before,
  &::after {
    display: inline-block;
    content: "";
    background: url("../img/header/icons/logo_icon.svg") 0 0 / 100% no-repeat;
    width: toRem(31);
    height: toRem(15);
  }
  &::before {
    margin-right: toRem(10);
    @media (max-width: toEm(480)) {
      margin-right: toRem(5);
    }
  }
  &::after {
    margin-left: toRem(10);
    @media (max-width: toEm(480)) {
      margin-left: toRem(5);
    }
  }
}
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blackColor);
  color: var(--whiteColor);
  transition: all 0.4s;
  text-transform: capitalize;
  @media (any-hover: hover) {
    &:hover {
      background-color: var(--primaryColor);
    }
  }
}
.offers {
  display: flex;
  flex-direction: column;
  gap: toRem(8);
  &__label {
    padding: toRem(4) toRem(12);
    font-size: toRem(12);
    font-weight: 600;
    text-transform: uppercase;
    color: var(--whiteColor);
    &--sale {
      background-color: var(--blackColor);
    }
    &--hot {
      background-color: var(--primaryColor);
    }
  }
}
.info-row {
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;

  display: flex;
  justify-content: space-between;
  gap: toRem(50);
  align-items: center;
  background-color: var(--blackColor);
  border: 1px solid var(--blackColor);
  padding: toRem(15) toRem(14);
  color: var(--whiteColor);
  text-transform: capitalize;
  font-weight: 600;
  transition: all 0.4s;
}
._icon-person::before,
._icon-bag::before {
  font-size: toRem(20);
  font-weight: 900;
}
//========Header==========//
.header {
  background-color: var(--bgColor);
  &__container {
    margin-top: toRem(31);
    display: flex;
    flex-direction: column;
    row-gap: toRem(30);
    padding-top: toRem(5);
    padding-bottom: toRem(5);
    @media (max-width: toEm(1181)) {
      margin-top: toRem(15);
    }
  }
  &__top {
  }
  &__menu {
  }
}
.top-header {
  position: relative;
  z-index: 2;
  &::after {
    content: "";
    width: 100%;
    height: toRem(1);
    background-color: #e3e3e3;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: toRem(30);
  }
  &__item {
    transition: all 0.4s;
    &:nth-child(3) {
      display: flex;
      align-items: center;
      column-gap: toRem(15);
    }
  }
  &__search {
    display: flex;
    flex: toRem(217);
    padding: toRem(5);
    position: relative;
    z-index: 2;
    transition: all 0.4s;
    @media (any-hover: hover) {
      &:hover {
        outline: toRem(1) solid var(--primaryColor);
        border-radius: toRem(8);
        box-shadow: inset 0px 0px 4px #bab6b6;
      }
    }
    &:has(> .entry:focus) {
      outline: toRem(1) solid var(--primaryColor);
    }
  }
  &__icon-search {
    width: toRem(20);
    height: toRem(20);
    & img {
      width: 100%;
    }
  }
  &__entry {
    padding-left: toRem(10);
    cursor: pointer;
    &:focus {
      outline: none;
    }
    @media (max-width: toEm(767.98)) {
      display: none;
    }
  }
  &__logo {
    &::before,
    &::after {
      @media (max-width: toEm(390)) {
        display: none;
      }
    }
  }
  &__accounts {
    display: flex;
    align-items: flex-end;
    column-gap: toRem(22);
    @media (max-width: toEm(767.98)) {
      column-gap: toRem(15);
    }
  }
  &__button-icon {
    display: none;
  }
}
.icon-menu {
  @media (max-width: toEm(767.98)) {
    display: block;
    position: relative;
    width: toRem(30);
    height: toRem(18);
    flex-shrink: 0;
    z-index: 2;
    & span,
    &::before,
    &::after {
      content: "";
      left: 0;
      position: absolute;
      width: 100%;
      height: toRem(2);
      background-color: black;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    & span {
      top: calc(50% - 1px);
    }
    .menu-open &::before {
      top: 50%;
      transform: rotate(-45deg);
      margin-top: toRem(-1);
    }
    .menu-open &::after {
      bottom: 50%;
      transform: rotate(45deg);
      margin-bottom: toRem(-1);
    }
    .menu-open & span {
      transform: scale(0);
    }
  }
}
.account-item {
  &__account,
  &__shopping {
    display: flex;
    align-items: center;
    flex: 0 0 toRem(100);
    column-gap: toRem(8);
    color: var(--blackColor);
    font-size: toRem(18);
    text-transform: capitalize;
    transition: color 0.4s;
    @media (any-hover: hover) {
      &:hover {
        color: var(--primaryColor);
      }
    }
    @media (max-width: toEm(767.98)) {
      flex-shrink: 1;
    }
    & span {
      @media (max-width: toEm(767.98)) {
        display: none;
      }
    }
  }
  &__shopping {
  }
}
.menu {
  &__list {
    display: flex;
    column-gap: toRem(30);
    row-gap: toRem(10);
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: toEm(767.98)) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__item {
    flex-shrink: 0;
  }
  &__link {
    line-height: 1.5; /* 24/16 */
    text-transform: capitalize;
    transition: color 0.4s;
    @media (any-hover: hover) {
      &:hover {
        color: var(--primaryColor);
      }
    }
    @media (max-width: toEm(767.98)) {
      font-size: toRem(28);
    }
    @media (max-width: toEm(320)) {
      font-size: toRem(25);
    }
  }
  @media (max-width: toEm(767.98)) {
    position: fixed;
    top: toRem(71);
    right: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 2;
    gap: toRem(20);
    padding: toRem(18);
    background-color: #f4f4f5;
    transition: all 0.8s;
    .menu-open & {
      right: 0;
    }
  }
}
.title {
  font-family: "Roboto0", sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  @include adaptiveValue("font-size", 50, 30);
}
._icon-filter_icon {
}
//========Main-page==========//
.page {
  &__collections {
    @include adaptiveValue("margin-bottom", 90, 35);
  }
  &__brands {
    @include adaptiveValue("margin-bottom", 90, 35);
  }
  &__newsletter {
    @include adaptiveValue("margin-bottom", 140, 40);
  }
  &__zara {
    @include adaptiveValue("margin-bottom", 140, 40);
  }
  &__sellers {
    @include adaptiveValue("margin-bottom", 140, 40);
  }
  &__tracking {
    @include adaptiveValue("margin-bottom", 140, 40);
  }
}
//========Collections-section==========//
.collections-section {
  background-color: var(--bgColor);
  position: relative;
  &__container {
    padding-top: toRem(80);
    padding-bottom: toRem(60);
    display: flex;
    column-gap: toRem(98);
    @media (max-width: toEm(991.98)) {
      padding-top: toRem(40);
      padding-bottom: toRem(40);
      column-gap: toRem(60);
    }
    @media (max-width: toEm(767.98)) {
      flex-wrap: wrap;
      padding-top: toRem(10);
      padding-bottom: toRem(10);
    }
  }
  &__content {
    flex: 0 1 toRem(682);
    max-width: toRem(682);
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
    padding-top: toRem(74);
    padding-bottom: toRem(124);
    @media (max-width: toEm(991.98)) {
      padding-top: toRem(50);
      padding-bottom: toRem(80);
    }
    @media (max-width: toEm(767.98)) {
      padding-top: toRem(30);
      padding-bottom: toRem(40);
    }
    @media (max-width: toEm(479.98)) {
      padding-top: toRem(5);
      padding-bottom: toRem(40);
    }
  }
  &__title {
    font-weight: 300;
    line-height: 0.743243; /* 55/74 */
    @include adaptiveValue("font-size", 74, 50);
    &:not(:last-child) {
      margin-bottom: toRem(52);
      @media (max-width: toEm(991.98)) {
        margin-bottom: toRem(40);
      }
      @media (max-width: toEm(479.98)) {
        margin-bottom: toRem(20);
      }
    }
  }
  &__text {
    line-height: 1.833333; /* 55/30 */
    @include adaptiveValue("font-size", 30, 24);
    &:not(:last-child) {
      margin-bottom: toRem(66);
      @media (max-width: toEm(991.98)) {
        margin-bottom: toRem(35);
        line-height: 1.7;
      }
      @media (max-width: toEm(479.98)) {
        margin-bottom: toRem(20);
        line-height: 1.5;
      }
      @media (max-width: toEm(767.98)) {
        line-height: 1.5;
      }
    }
  }
  &__button {
    padding: toRem(19) toRem(26);
    gap: toRem(8);
    @include adaptiveValue("font-size", 29, 18);
    @media (max-width: toEm(767.98)) {
      width: 100%;
    }
    @media (max-width: toEm(479.98)) {
      padding: toRem(14) toRem(26);
    }
  }
  &__column-image {
    align-self: center;
    flex: 0 1 toRem(424);
    max-width: toRem(424);
    padding: toRem(20) 0 0 toRem(18);
    margin: 0 auto;
  }
  &__image-wrapper {
    border: toRem(2) solid rgba(0, 0, 0, 0.25);
    border-radius: toRem(160) 0;
    padding-bottom: toRem(20);
    img {
      width: 100%;
      aspect-ratio: 424 / 542;
      object-fit: cover;
      border-radius: toRem(160) 0;
      margin: toRem(-20) 0 0 toRem(-18);
    }
  }
  &__frame-left {
    position: absolute;
    bottom: 4.978663%; /* 35/703 */
    left: 1.510417%; /* 29/1920 */
    width: 6.875%; /* 132/1920 */
    height: 24.893314%; /* 175/703 */
    aspect-ratio: 15 / 29;
    object-fit: contain;
    transform: rotate(150deg);
  }
  &__frame-right {
    position: absolute;
    bottom: 26.742532%; /* 188/703 */
    right: -1.71875%; /* 33/1920 */
    width: 10.15625%; /* 195/1920 */
    height: 37.268848%; /* 262/703 */
    aspect-ratio: 195 / 262;
    object-fit: contain;
    transform: rotate(150deg);
    overflow: visible;
  }
}
.icon-bag {
}
//========Brand-section==========//
.brand-section {
  &__container {
    @include adaptiveValue("margin-bottom", 90, 35);
  }
  &__body {
    padding-top: toRem(5);
    padding-bottom: toRem(5);
  }
  &__list {
    display: flex;
    align-items: center;
    column-gap: toRem(20);
    row-gap: toRem(10);
    justify-content: space-between;
    @media (max-width: toEm(767.98)) {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    @media (max-width: toEm(670)) {
      justify-content: space-between;
    }
  }
  &__item {
    max-height: toRem(70);
    max-width: toRem(200);
    width: 100%;
    cursor: pointer;
    & img {
      width: 100%;
      height: 100%;
      aspect-ratio: 200 / 70;
      @media (max-width: toEm(670)) {
        max-height: toRem(50);
      }
      @media (max-width: toEm(340)) {
        max-height: toRem(40);
      }
    }
  }
  &__catalog {
  }
}
.catalog-brand {
  &__container {
    position: relative;

    @media (max-width: toEm(1420)) {
      display: flex;
      flex-direction: column;
      row-gap: toRem(20);
    }
  }
  &__title {
    font-family: "Roboto", sans-serif;
    font-size: 34px;
    text-transform: uppercase;
    @media (max-width: toEm(650)) {
      font-size: toRem(30);
    }
    @media (max-width: toEm(400)) {
      font-size: toRem(26);
    }

    @media (min-width: toEm(1420)) {
      position: absolute;
      top: 0;
      left: -2%; /* 52/1350 */
      z-index: 3;
      writing-mode: vertical-rl;
      transform: rotate(-180deg);
    }
  }
  &__images {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(auto-fill, minmax(250px, 1fr));
    gap: toRem(24);
  }
  &__box {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    @media (min-width: toEm(550)) {
      &:nth-child(10n + 1),
      &:nth-child(10n + 8) {
        grid-column: span 2;
        grid-row: span 2;
      }
      &:only-child {
        grid-column: span 4;
        grid-row: span 4;
      }
    }
    @media (any-hover: hover) {
      &:hover {
        .catalog-brand__info {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  &__item {
    & img {
      width: 100%;
      aspect-ratio: 312 / 312;
      object-fit: cover;
    }
  }
  &__offers {
    position: absolute;
    top: 7.051282%; /* 22/312 */
    left: 0;
  }
  &__info {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
//========Newsletter-section==========//
.newsletter-section {
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: toRem(35);
  }
  &__title {
    align-self: center;
  }
  &__navigation {
  }
  &__products {
  }
  &__items {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(auto-fill, minmax(250px, 1fr));
    gap: toRem(24);
  }

  &__column {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: toRem(18);
    @media (any-hover: hover) {
      &:hover {
        .newsletter-section__info {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    @media (any-hover: none) {
      &:hover {
        .newsletter-section__info {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  &__body {
    position: relative;
  }
  &__image {
    position: relative;
    overflow: hidden;
    box-shadow: 0 toRem(4) toRem(4) rgba(0, 0, 0, 0.255);
    & img {
      width: 100%;
      aspect-ratio: 312 / 400;
      object-fit: cover;
      transition: all 0.4s;

      &:hover {
        transform: scale(1.06);
      }
    }
  }
  &__info {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__offers {
    position: absolute;
    top: 7.051282%; /* 22/312 */
    left: 0;
    z-index: 3;
  }
  .button {
  }
  &__brand {
    font-weight: 600;
    text-transform: capitalize;
    transition: color 0.4s;
    flex-grow: 1;
    cursor: pointer;
    @media (any-hover: hover) {
      &:hover {
        color: var(--primaryColor);
      }
    }
  }
  &__details {
  }
}
.navigation-newsletter {
  display: flex;
  align-items: center;
  gap: toRem(50);
  justify-content: space-between;
  &__tabs {
    display: flex;
    column-gap: toRem(20);
    row-gap: toRem(13);
    @media (max-width: toEm(479.98)) {
      flex-wrap: wrap;
    }
  }
  &__item {
    &:not(:first-child) {
      color: rgba(0, 0, 0, 0.5);
    }
    &:first-child {
      color: var(--mainColor);
    }
    &:hover {
      color: var(--primaryColor);
    }
    &:active {
      color: var(--mainColor);
    }
  }
  &__link {
    font-weight: 600;
    text-transform: capitalize;
  }
  &__button {
    padding: toRem(5) toRem(15);
    font-size: toRem(16);
    & span {
      margin-right: toRem(4);
    }
  }
}
.details-box {
  display: flex;
  justify-content: space-between;
  gap: toRem(30);

  &__type {
    text-transform: capitalize;
    color: var(--blackColor50);
  }
  &__costs {
    display: flex;
    gap: toRem(12);
    align-items: flex-end;
    font-size: toRem(14);
  }
  &__old-price {
    color: var(--blackColor50);
  }
  &__price {
    font-weight: 600;
  }
  &__new-price {
    color: var(--primaryColor);
  }
}

//========Zara-section==========//
.zara-section {
  min-height: 100vh;
  position: relative;

  &__container {
    padding-top: toRem(233);
    padding-bottom: toRem(93);
    display: flex;
    justify-content: end;
  }
  &__content {
    position: relative;
    z-index: 3;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
    flex-basis: toRem(504);
    flex-shrink: 0;
    max-width: toRem(504);
    row-gap: toRem(55);
    @media (max-width: toEm(767.98)) {
      row-gap: toRem(35);
      flex-shrink: 1;
    }
    @media (max-width: toEm(479.98)) {
      row-gap: toRem(20);
    }
  }

  &__lable {
    & img {
      width: 100%;
      aspect-ratio: 191 / 81;
      object-fit: contain;
      @media (max-width: toEm(767.98)) {
        width: 80%;
      }
      @media (max-width: toEm(479.98)) {
        width: 60%;
      }
    }
  }

  &__text {
    font-size: toRem(26);
    line-height: 1.738462; /* 40/26 */
    color: var(--whiteColor);
    @media (max-width: toEm(767.98)) {
      font-size: toRem(22);
    }
    @media (max-width: toEm(479.98)) {
      font-size: toRem(18);
    }
  }

  &__button {
    &--white {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: toRem(19) toRem(26);
      background-color: var(--whiteColor);
      color: var(--blackColor);
      font-size: toRem(29);
      @media (max-width: toEm(767.98)) {
        font-size: toRem(22);
        padding: toRem(14) toRem(26);
      }
    }
    @media (max-width: toEm(767.98)) {
      width: 100%;
    }
  }
  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;

    & img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
    @media (max-width: toEm(767.98)) {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.836);
        opacity: 0.7;
        z-index: 2;
      }
    }
  }

  &__bg-image {
    position: absolute;
    right: -2.916667%; /* 56/1920 */
    top: 6.572165%; /* 51/776 */
    width: 38.125%; /* 732/1920 */
    height: 39.819588%; /* 309/776 */
    z-index: 2;
    img {
      width: 100%;
      aspect-ratio: 732 / 309;
      object-fit: cover;
    }
  }
}
//========Sellers-section==========//
.sellers-section {
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: toRem(35);
  }
  &__title {
    align-self: center;
  }
  &__navigation {
  }
  &__products {
    overflow: hidden;
  }
  &__items {
    display: flex;
    gap: toRem(24);
    overflow-x: auto;
    overflow-y: clip;
  }
  &__column {
    flex-basis: toRem(312);
    flex-shrink: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: toRem(18);
    @media (any-hover: hover) {
      &:hover {
        .sellers-section__info {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    @media (any-hover: none) {
      &:hover {
        .sellers-section__info {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__body {
    position: relative;
  }
  &__image {
    position: relative;
    overflow: hidden;
    box-shadow: 0 toRem(4) toRem(4) rgba(0, 0, 0, 0.255);
    & img {
      width: 100%;
      aspect-ratio: 312 / 400;
      object-fit: cover;
      transition: all 0.4s;

      &:hover {
        transform: scale(1.06);
      }
    }
  }
  &__info {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: toRem(20);
    font-size: toRem(20);

    &__likes {
      display: flex;
      align-items: center;
      gap: toRem(21);
      font-weight: 400;
      cursor: pointer;
    }
    &__heart,
    &__search {
      transition: color 0.4s;
      @media (any-hover: hover) {
        &:hover {
          color: var(--primaryColor);
        }
      }
    }

    &__search {
    }

    &__button {
      font-size: toRem(18);
      font-family: "Roboto", sans-serif;
      text-transform: capitalize;
      padding: toRem(5) toRem(15);
      & span {
        margin-right: toRem(8);
      }
    }
  }
  &__offers {
    position: absolute;
    top: 7.051282%; /* 22/312 */
    left: 0;
    z-index: 3;
  }
  .button {
  }
  &__brand {
    flex-grow: 1;
    font-weight: 600;
    text-transform: capitalize;
    transition: color 0.4s;
    cursor: pointer;
    @media (any-hover: hover) {
      &:hover {
        color: var(--primaryColor);
      }
    }
  }
  &__details {
  }
}
.navigation-sellers {
  display: flex;
  align-items: center;
  gap: toRem(50);
  justify-content: space-between;
  &__tabs {
    display: flex;
    column-gap: toRem(20);
    row-gap: toRem(13);
    @media (max-width: toEm(479.98)) {
      flex-wrap: wrap;
    }
  }
  &__item {
    &:not(:first-child) {
      color: rgba(0, 0, 0, 0.5);
    }
    &:first-child {
      color: var(--mainColor);
    }
    &:hover {
      color: var(--primaryColor);
    }
    &:active {
      color: var(--mainColor);
    }
  }
  &__link {
    font-weight: 600;
    text-transform: capitalize;
  }
  &__button {
    padding: toRem(5) toRem(15);
    font-size: toRem(16);
    & span {
      margin-right: toRem(4);
    }
  }
}
.details-box {
  display: flex;
  justify-content: space-between;
  gap: toRem(30);

  &__type {
    text-transform: capitalize;
    color: var(--blackColor50);
  }
  &__costs {
    display: flex;
    gap: toRem(12);
    align-items: flex-end;
    font-size: toRem(14);
  }
  &__old-price {
    color: var(--blackColor50);
  }
  &__price {
    font-weight: 600;
  }
  &__new-price {
    color: var(--primaryColor);
  }
}

//========Tracking-section==========//
.tracking-section {
  background-color: var(--bgColor);
  &__container {
    @include adaptiveValue("padding-top", 100, 40);
    @include adaptiveValue("padding-bottom", 100, 40);
    display: flex;
    flex-direction: column;
    align-items: center;
    @include adaptiveValue("row-gap", 70, 40);
  }
  &__instagram {
  }
  &__subscribe {
    display: flex;
    flex-direction: column;
    @include adaptiveValue("row-gap", 74, 30);
  }
  &__title {
  }
  &__form {
    display: flex;
    column-gap: toRem(26);
  }
  &__email {
    padding-bottom: toRem(13);
    padding-left: toRem(15);
    border-bottom: toRem(2) solid var(--mainColor);
    transition: all 0.4s;
    &::placeholder {
      font-weight: 600;
      font-family: "Roboto", sans-serif;
      text-transform: capitalize;
      color: var(--blackColor50);
    }
    @media (any-hover: hover) {
      &:hover {
        border-bottom: toRem(2) solid var(--primaryColor);
      }
    }
  }
  &__submit {
    flex-basis: toRem(91);
    flex-shrink: 0;
    padding-left: toRem(16);
    padding-right: toRem(16);
    padding-bottom: toRem(10);
    border-bottom: toRem(2) solid var(--mainColor);
    color: var(--blackColor);
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    gap: toRem(4);
    transition: all 0.4s;
    @media (any-hover: hover) {
      &:hover {
        color: var(--primaryColor);
        border-bottom: toRem(2) solid var(--primaryColor);
      }
    }
    @media (max-width: toEm(479.98)) {
      padding-left: toRem(8);
      padding-right: toRem(8);
    }
  }
}
.instagram-pages {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @include adaptiveValue("row-gap", 60, 30);
  &__title {
    align-self: center;
  }

  &__items {
  }

  &__image {
  }
}
.item-instagram {
  overflow-x: auto;
  overflow-y: clip;

  display: flex;
  gap: toRem(24);
  &__link {
    flex-basis: toRem(200);
    flex-shrink: 0;
    position: relative;
    transition: all 0.4s;
    & img {
      width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }
    @media (any-hover: hover) {
      &:hover {
        &::before {
          content: "";
          background-color: var(--blackColor);
          opacity: 0.5;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 1;
        }
        &::after {
          position: absolute;
          top: calc(50% - 24px);
          left: calc(50% - 24px);
          content: "";
          background: url("../img/main/tracking/instagram_icon.svg") 0 0 / 48px
            no-repeat;
          width: toRem(48);
          height: toRem(48);
          z-index: 2;
        }
      }
    }
  }
}

//----Footer------//
.footer {
  &__main {
  }
  &__bottom {
    background-color: var(--blackColor);
  }
}
.main-footer {
  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: toRem(55);
    row-gap: toRem(40);
    @include adaptiveValue("padding-bottom", 90, 30);
  }
  &__label {
    flex-basis: toRem(392);
    flex-shrink: 0;
    @media (max-width: toEm(440)) {
      flex-shrink: 1;
    }
  }
  &__articals {
    display: flex;
    flex-grow: 1;
    column-gap: toRem(20);
    row-gap: toRem(30);
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: toEm(1117)) {
      justify-content: flex-start;
    }
  }
  &__item {
  }
}
.label-main {
  display: flex;
  flex-direction: column;
  row-gap: toRem(32);
  @media (max-width: toEm(767.98)) {
    row-gap: toRem(17);
  }
  &__logo {
  }
  &__text {
    text-transform: capitalize;
    color: rgba(30, 40, 50, 0.75);
    line-height: 1.9375; /* 31/16 */
  }

  &__social {
    display: flex;
    column-gap: toRem(36);
    @media (max-width: toEm(767.98)) {
      column-gap: toRem(20);
    }
  }

  &__item {
    &:hover {
      .label-main__link {
        transform: scale(1.3);
        color: var(--primaryColor);
      }
    }
  }
  &__link {
    font-size: toRem(20);
    transition: all 0.4s;
  }
}
.logo {
}
.artical-main {
  flex-basis: toRem(200);
  flex-grow: 0;
  min-width: toRem(200);
  &__subtitle {
    font-weight: 600;
    text-transform: uppercase;
    &:not(:last-child) {
      margin-bottom: toRem(22);
      @media (max-width: toEm(680)) {
        margin-bottom: toRem(16);
      }
      @media (max-width: toEm(479.98)) {
        margin-bottom: toRem(10);
        flex-grow: 1;
        min-width: toRem(220);
        font-size: toRem(20);
      }
    }
  }
  &__list {
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: toRem(12);
      @media (max-width: toEm(680)) {
        margin-bottom: toRem(5);
      }
    }
    &:hover {
      .artical-main__link {
        color: var(--primaryColor);
      }
    }
  }
  &__link {
    text-transform: capitalize;
    line-height: 1.714286; /* 24/14 */
    color: var(--blackColor);
    transition: color 0.4s;
  }
}
.bottom-footer {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: toRem(50);
    padding-top: toRem(14);
    padding-bottom: toRem(14);
    color: var(--whiteColor);
    text-transform: capitalize;
    @media (max-width: toEm(767.98)) {
      flex-direction: column;
      row-gap: toRem(20);
    }
  }
  &__date {
  }
  &__payment {
  }

  &__scroll {
    transition: all 0.4s;
    span::before {
      font-size: toRem(14);
      font-weight: 900;
      align-items: center;
    }
    &:hover {
      color: var(--primaryColor);
    }
  }
}
//-------------------------//
