
@import url('reset.css');

body {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  color: #535353;
}
.wrapper {
  min-height: 100%; 
  overflow: clip;

  display: flex;
  flex-direction: column; 
  position: relative;
  background-color: rgb(248, 248, 248);
}
.wrapper > main {
 flex-grow: 1;
}

[class*="__container"] {
  max-width: 1320px; /**обмежуючий контейнер+відступи*/
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
 /*----Загальні стилі------*/
 .page {
  background-color: #F8F8F8;
  }
  .popular {
  }
  .product {
  }
  .stock {
  }

 /*-----------------------*/
 .title {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
}

/*-----------Header---------------*/ 
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 220px;
  z-index: 100;
}
.header--margin {
  margin-bottom: 70px;
}
.header__section-top {
}
.top-section {
  background-color: rgb(248, 248, 248);
}
.top-section__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  white-space: nowrap;
}
.top-section__menu {
}
.menu {
}
.menu__body {
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.menu__item {
  transition: all 0.4s; 
}
.menu__item:hover .menu__link {
  text-decoration: underline;
  color: #FFBC57;
}
.menu__link {
}
.top-section__information {
}
.information {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 15px;
}
.information__helper {
}
.information__body {
}
.information__list {
  display: flex;
  align-items: center;
  gap: 10px;
}
.information__item {
}
.information__link {
  border-radius: 50%;
  transition: transform 0.4s;
}
.information__item:hover .information__link {
  transform: scale(1.1);
  box-shadow: 2px 3px 6px #5b5858;
}
.information__lenguage {
  align-self: center;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26; /* 126.316% */ 
  transition: transform 0.4s; 
}
.information__lenguage:hover {
  transform: scale(1.1);
}
.information__lenguage::after {
  display: inline-flex;
  align-self: center;
  content: '';
  background: url('../img/header/arrow.svg') center center no-repeat;
  width: 24px;
  height: 24px;
  vertical-align: top;
  transition: transform 0.4s;
}
.information__lenguage:hover::after {
  transform: rotate(-180deg);
} 

/**---------Середина шапки------------*/
.header__section-middle {
}
.middle-section {
  background-color: #fff;
}
.middle-section__container {
  display: flex;
  gap: 34px;
  text-align: center;
  padding: 20px 15px;
}
.middle-section__logo {
  align-self: center;
}
.middle-section__inner {
  display: flex;
  flex-grow: 1;
  text-align: center;
  gap: 30px;
  justify-content: space-between;
}
.middle-section__button {
}
.button {
  display: inline-flex;
  align-items: center;
  background-color: #FFBC57;
  padding: 10px 19px;
  color: #fff;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
  border-radius: 8px;
  transition: all 0.4s ;
}
.button::before {
  display: inline-flex;
  align-items: center;
  content: '';
  background: url('../img/header/button_icon/menu-catalog.svg') 0 0 no-repeat;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.button:hover {
  text-decoration: underline;
  transform: scale(1.04); 
  box-shadow: 0px 5px 10px #4f4d4d; 
}
.middle-section__search {
  align-self: center;
  min-height: 50px;
  display: inline-flex;
  flex: 0 1 421px;
  border-radius: 8px;
  border: 1px solid #B1B1B1;
  padding: 10px;
}
.middle-section__entry {
  line-height: 1.87;
  color: #B1B1B1;
  cursor: pointer;
}
.middle-section__wrap {
  display: flex;
  flex: 0 0 230px;
}
.middle-section__contacts {
  gap: 10px;
}
.middle-section__wrap::before {
  display: inline-flex;
  align-self: center;
  content: '';
  margin-right: 10px;
  background: url('../img/header/tube.svg') center center no-repeat;
  width: 50px;
  height: 50px;
  background-color: #F8F8F8;
  border-radius: 50%;
}
.middle-section__wrap::after {
  display: inline-flex;
  align-self: center;
  content: '';
  margin-left: 10px;
  background: url('../img/header/arrow.svg') center center no-repeat;
  width: 24px;
  height: 24px;
  transition: transform 0.4s;
}
.middle-section__wrap:hover::after {
  transform: rotate(-180deg);
}
.middle-section__schedule {
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.69;
}
.middle-section__phone {
}
.middle-section__number {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  color: #2B2929;
  /* color: red; */
  transition: all 0.4s;
}
.middle-section__contacts:hover .middle-section__number {
  text-decoration: underline;
}
.middle-section__purchases {
}
.purchases {
  display: inline-flex;
  align-self: center;
  gap: 20px;
  transition: all 0.4s;
}
.purchases__heart-icon,
.purchases__basket-icon {
  border-radius: 50%;
}
.purchases__heart-icon:hover,
.purchases__basket-icon:hover {
  box-shadow: 0px 0px 10px #FFBC57;
}
.purchases__basket-icon {
}

/**---------Низ шапки------------*/
.header__section-bottom {
}
.bottom-section {
  background-color: #fff;
  border-top: 2px solid #F8F8F8;
}
.bottom-section__container {
  padding-top: 18px;
  padding-bottom: 18px;
}
.bottom-section__holder {
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.bottom-section__stock {
}
.stock-section {
  align-self: center;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
}
.stock-section__list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
  white-space: nowrap; 
}
.stock-section__item {
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
  transition: all 0.4s;
}
.stock-section__link {
  display: inline-flex;
  align-items: center;
}
.stock-section__link:hover{
  color: rgba(104, 102, 102, 0.95);
  text-decoration: underline;
}
.stock-section__link::before {
  content: '';
  top: 0;
  left: 0;
  background: url('../img/header/star.svg') center center no-repeat;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 5px;
}
.stock-section__item:nth-child(2) .stock-section__link::before{
  background: url('../img/header/percent.svg') center center no-repeat;
  margin-right: 10px;
}
.stock-section__item:nth-child(3) .stock-section__link::before{
  background: url('../img/header/buy_credit.svg') center center no-repeat;
  margin-right: 10px;
}
.stock-section__link:hover::before {
  transform: rotate(-45deg); 
}
.bottom-section__type-room {
}
.room-type {
  align-self: center;
}
.room-type__list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  column-gap: 40px;
  row-gap: 15px;
  padding-left: 40px;
}
.room-type__item {
}
.room-type__item:hover .room-type__link{
  text-decoration: underline;
}
.room-type__link {
}
/*------------Inform----------*/
.page__inform {
}
.inform {
  display: inline-flex;
  position: fixed;
  bottom: 35px;
  right: 20px;
  width: 150px;
  height: 130px;
  background-color: hsla(36, 92%, 59%, 0.819);
  border-radius: 35% 35% 0 35%;
  z-index: 100;
}
.inform__content {
  align-self: center;
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
/*==========Main========================*/
.page__container {
  margin-top: 290px;
}
.page__popular {
  margin-bottom: 70px;
}
.popular__name {
}
.popular__title {
  margin-bottom: 40px;
}
.popular__cards {
}
.card-popular {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 24px;
  overflow: hidden;
}
.item-popular__inner {
  overflow: hidden;
}
.card-popular__item {
  position: relative;
  font-size: 20px;
  line-height: 1.40; /* 28/20 */
  flex-basis: 250px;
}
.item-popular {
}
.item-popular__image {
  position: relative;
  display: inline-block;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 4px 4px 15px 0 rgba(0, 0, 0, 0.06);
}
.item-popular__image img {
  display: block;
  width: 100%;
  height: 100%;
}
.item-popular:hover .item-popular__image{
  transform: scale(1.1); 
}
.item-popular__category {
  position: absolute;
  top: 20px;
  left: 20px;
  display: inline-block;
  margin-right: 130px;
  color: #2B2929;
  text-align: left;
  font-weight: 600;
  transition: color 0.3s;
  min-width: 140px;
}
.item-popular__category:hover {
  text-decoration: underline;
}
.item-popular__number {
  position: absolute;
  top: 20px;
  right: 20px;
  display: inline-block;
  color: #B1B1B1;
  transition: all 0.3s;
}
.item-popular__arrow {
  position: absolute;
  bottom: 20px;
  right: 20px;
  transition: all 0.3s;
}
.item-popular__link {
}
.item-popular__arrow:hover .item-popular__link{
  transform:scale(1.1);
  border-radius: 50%;
  background-color: rgba(250, 242, 242, 0.842);
}
/*--------Section product-----------*/
.page__product {
  margin-bottom: 80px;
}
.product__name {
  display: flex;
  text-align: center;
  gap: 30px;
  margin-bottom: 40px;
}
.product__title {
}
.product__link {
  align-self: center;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
  color: #FFBC57;
  padding: 12px 0;
}
.product__link:hover {
  text-decoration: underline;
  color: #f9ac39;
  transition: all 0.4s;
}
.product__link::after {
  content: '';
  background: url('../img/main/arrow_small.svg') center center no-repeat;
  width: 34px;
  height: 34px;
  vertical-align: middle;
  margin-left: 10px;
}
.product__link:hover::after {
  transform: rotate(90deg);
}
.product__cards {
}
.card-product {
  display: flex; 
  flex-wrap: wrap;
  gap: 30px;
}
.card-product__item {
  flex-basis: 300px;
}
.item-product {
  border-radius: 8px;
  border: 1px solid #E3E2E2;
  background: #FFF;
  box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
  padding: 20px;  
}
.item-product__wrapper {
  display: flex;
  flex-direction: column;
}
.item-product__image {
  border-radius: 8px;
  margin-bottom: 20px;
  transition: transform 0.4s;
}
.item-product__image img {
 display: block;
 width: 100%;
 height: 100%;
 border-radius: 8px;
}
.item-product__image:hover {
  transform: scale(1.1); 
}
.item-product__category {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.item-product__category a {
  white-space: wrap;
  margin-bottom: 10px;
}
.item-product__category p:not(:last-child) {
  margin-bottom: 10px;
}
.item-product__category p {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.69; /* 169.231% */
}
.item-product__category a {
  min-height: 52px;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26316;
}
.item-product__category a:hover {
  text-decoration: underline;
}
.item-product__category span {
  display: inline-flex;
  align-items: center;
}
.item-product__category span::before {
  content: '';
  background: url('../img/main/product/check.svg') 0 0 no-repeat;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 5px;
}
.item-product__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-product__tag {
}
.item-product__oldprice {
  color: #E03D3D;
  font-size: 15px;
  line-height: 1.46; /* 146.667% */
  text-decoration: line-through;
}
.item-product__newprice {
  color: #2B2929;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
}
.item-product__purchases {
}
.purchases {
}
.purchases__heart-icon {
}
.purchases__basket-icon {
}
/*--------Section stock-----------*/
.page__stock {
  margin-bottom: 70px;
}
.stock__content {
  margin-bottom: 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stock__name {
  display: flex;
  text-align: center;
  gap: 30px;
}
.stock__title {
}
.stock__link {
  align-self: center;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
  color: #FFBC57;
  padding: 12px 0;
}
.stock__link:hover {
  text-decoration: underline;
  color: #f9ac39;
  transition: all 0.4s;
}
.stock__link::after {
  content: '';
  background: url('../img/main/arrow_small.svg') center center no-repeat;
  width: 34px;
  height: 34px;
  vertical-align: middle;
  margin-left: 10px;
}
.stock__link:hover::after {
  transform: rotate(90deg);
}
.stock__navigation {
  display: flex;
  flex-basis: 140px;
  justify-content: space-between;
}
.stock__previous,
.stock__next {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.stock__previous:hover,
.stock__next:hover {
  box-shadow: 0 0 15px #9e9b9b;
}
.stock__next {
  transform: rotate(180deg);
}
.stock__cards {
}
.card-stock {
  display: flex;
  gap: 30px;
}
.card-stock__item {
 
}
.item-stock {
  flex-basis: 410px;
  border-radius: 8px;
}
.item-stock:hover {
  box-shadow: 0px 7px 15px #676464;
}
.item-stock__link {
max-width: 410px;
height: 100%;
}
.item-stock__link img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

/*-----------Footer--------------*/
.footer {
  background: rgba(0, 0, 0, 0.1);
  padding: 20px; 
}
.footer h4 {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
  color: #03ddfa;
  text-decoration: underline;
  font-style: oblique;
  text-align: center;
}
.footer__list {
  padding: 20px 0;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 20px;
}
.footer__item {  
}
.footer__link {
  width: 50px;
  height: 50px;
}