@import url("https://fonts.googleapis.com/css?family=Golos+Text:regular,500,600&display=swap");

@import url("reset.css");
@import url("fonts.css");

body {
  font-family: "Integral CF", sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #000;
}
.wrapper {
  min-height: 100%;
  overflow: clip;

  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
}
.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1270px; /**обмежуючий контейнер+відступи*/
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*-------Header--------*/
.header {
  text-align: center;
  background-color: #f0f0f0;
  padding: 30px 0;
}
/*-------Main--------*/
.homework {
}
.homework__style {
  margin-top: 50px;
  margin-bottom: 100px;
}
.style {
}
.style__container {
  background-color: #f0f0f0;
  border-radius: 40px;
}
.style__title {
  text-align: center;
  text-transform: uppercase;
  padding-top: 70px;
}
.style__items {
  height: 100%;
  padding: 64px 64px 76px 64px;
  display: grid;
  grid-template-columns: 36.6% 30.8% 30.8%;
  grid-template-rows: 1fr;
  gap: 20px;
}
.item-style {
}
.item-style__box {
  position: relative;
  border-radius: 20px;
  background-color: #fff;
}
@media (min-width: 948px) {
  .item-style__box:nth-child(2),
  .item-style__box:nth-child(3) {
    grid-column: span 2;
  }
}
.item-style__link,
.item-style__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-style__image {
  border-radius: 20px;
}
.item-style__box:first-child .item-style__image,
.item-style__box:nth-child(4) .item-style__image {
  aspect-ratio: 407 / 289;
}
.item-style__box:nth-child(2) .item-style__image,
.item-style__box:nth-child(2) .item-style__image {
  aspect-ratio: 684 / 289;
}
.item-style__box:nth-child(4n + 2) {
  grid-column: span 2;
}
.item-style__box:nth-child(6n + 1):not(:first-child) {
  grid-column: span 2;
}
.item-style__box {
  grid-column: span 1;
}

.item-style__label {
  position: absolute;
  top: 25px;
  left: 36px;
  font-family: "Satoshi", sans-serif;
  font-size: 36px;
  font-weight: 700;
}

/*-------Footer--------*/
.footer {
  background-color: #f0f0f0;
  text-align: center;
  padding: 30px 0;
}
