@import url("https://fonts.googleapis.com/css?family=Golos+Text:regular,500,600&display=swap");

@import url("reset.css");
@import url("fonts.css");

body {
  font-family: "Integral CF", sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #000;
}
.wrapper {
  min-height: 100%;
  overflow: clip;

  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
}
.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1270px; /**обмежуючий контейнер+відступи*/
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
[class*="__container-big"] {
  max-width: 1320px; /**обмежуючий контейнер+відступи*/
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
/*-------Header--------*/
.header {
  text-align: center;
  background-color: #f0f0f0;
  padding: 30px 0;
}
/*-------Main--------*/
.homework {
}
/*------Section-style-------*/
.homework__style {
  margin-top: 50px;
  margin-bottom: 100px;
}
.style {
}
.style__container {
  background-color: #f0f0f0;
  border-radius: 40px;
}
.style__title {
  text-align: center;
  text-transform: uppercase;
  padding-top: 70px;
  margin-bottom: 64px;
}
.style__items {
  height: 100%;
  width: 100%;
  padding: 0px 65px 76px 64px;
  display: grid;
  grid-template-columns: 1.583fr 1fr 1.583fr;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  gap: 20px;
}
.item-style {
}
.item-style__box {
  position: relative;
  border-radius: 20px;
  background-color: #fff;
}
.item-style__inner {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}
@media (any-hover: hover) {
  .item-style__box:hover .item-style__image {
    transform: scale(1.04);
  }
}
.item-style__link,
.item-style__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  aspect-ratio: 407 / 289;
}
@media (min-width: 948px) {
  .item-style__box:nth-child(2),
  .item-style__box:nth-child(3) {
    grid-column: span 2;
  }
  .item-style__box:nth-child(4n + 2) {
    grid-column: span 2;
  }
  .item-style__box:nth-child(4n + 2) .item-style__link,
  .item-style__box:nth-child(4n + 2) .item-style__image {
    aspect-ratio: 684 / 289;
  }
  .item-style__box:nth-child(4n + 3) {
    grid-column: span 2;
  }
  .item-style__box:nth-child(4n + 3) .item-style__link,
  .item-style__box:nth-child(4n + 3) .item-style__image {
    aspect-ratio: 684 / 289;
  }
  .item-style__box {
    grid-column: span 1;
  }
}
@media (max-width: 947px) {
  .style__items {
    grid-template-columns: 1.583fr 1fr 1.583fr;
    grid-template-rows: auto;
    grid-auto-rows: auto;
  }
  .item-style__box {
    grid-column: span 3;
  }
  .style__items {
    padding: 0px 35px 40px 30px;
  }
}

.item-style__label {
  position: absolute;
  top: 25px;
  left: 36px;
  font-family: "Satoshi", sans-serif;
  font-size: 36px;
  font-weight: 700;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .item-style__label:hover {
    color: rgba(0, 0, 0, 0.678);
  }
}
@media (max-width: 1100px) and (min-width: 948px) {
  .item-style__label {
    font-size: 30px;
  }
}
@media (max-width: 660px) {
  .style__title {
    font-size: 32px;
    margin-bottom: 40px;
  }
  .item-style__label {
    font-size: 24px;
  }
}
@media (max-width: 560px) {
  .homework__style {
    margin-bottom: 50px;
  }
  .style__items {
    padding: 0px 24px 27px 24px;
    gap: 16px;
  }
  .style__title {
    padding-top: 40px;
  }
  .item-style__label {
    top: 16px;
    left: 24px;
  }
}
/*------Section-product-------*/
.homework__product {
  font-family: "Proxima Nova", sans-serif;
  color: #2b2929;
  font-size: 13px;
  margin-bottom: 77px;
}
.product {
}
.product__content {
  margin-bottom: 40px;
}
.content-product {
  display: flex;
  align-items: center;
  gap: 30px;
}
.content-product__title {
}
.title {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
}
.content-product__link {
  display: flex;
  justify-content: center;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
  color: #ffbc57;
  transition: all 0.4s;
}
.content-product__link::after {
  content: "";
  background: url("../img/main/homework/product/up_arrow.svg") 0 0 / 100%
    no-repeat;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .content-product__link:hover {
    text-decoration: underline;
  }
  .content-product__link:hover::after {
    transform: rotate(90deg);
  }
}
.product__list {
}
.list-product {
  display: grid;
  grid-template: auto / repeat(auto-fill, minmax(170px, 410px));
  grid-auto-rows: auto;
  gap: 30px;
}
.list-product__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid #e3e2e2;
  background: #fff;
  box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
  padding: 20px;
}

.item-product {
}
.item-product__body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.item-product__image {
  width: 100%;
  overflow: hidden;
  object-fit: contain;
  border-radius: 8px;
  transition: transform 0.4s;
  margin-bottom: 20px;
}
.item-product__image img {
  width: 100%;
  aspect-ratio: 260 / 220;
}
@media (any-hover: hover) {
  .item-product__image:hover img {
    transform: scale(1.1);
  }
}
.item-product__data {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  transition: all 0.4s;
}
.item-product__data:not(:last-child) {
  margin-bottom: 10px;
}
.item-product__data p {
  font-weight: 300;
  line-height: 1.69;
  color: #535353;
}
.item-product__data a {
  font-size: 19px;
  line-height: 1.26;
  transition: all 0.4s;
}
@media (any-hover: hover) {
  .item-product__data a:hover {
    text-decoration: underline;
  }
}
.item-product__price {
}
.price-item {
  display: flex;
  flex-direction: column;
  gap: 21px;
  justify-content: center;
}
.price-item > p {
  display: inline-block;
  font-weight: 300;
  line-height: 1.69;
  vertical-align: middle;
}
.price-item > p::before {
  content: "";
  background: url("../img/main/homework/product/check.svg") center center / 100%
    no-repeat;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 5px;
}
.price-item__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price-item__tag {
}
.price-item__oldcost {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.46;
  text-decoration-line: line-through;
  color: #e03d3d;
}
.price-item__newcost {
  font-size: 20px;
  line-height: 1.4;
}
.price-item__purchases {
  display: flex;
  gap: 10px;
}
.purchases__icon {
  display: flex;
  flex: 0 0 50px;
  width: 50px;
  border-radius: 50%;
  transition: box-shadow 0.4s;
}
@media (any-hover: hover) {
  .purchases__icon:hover {
    box-shadow: 0 0 15px #9e9b9b;
  }
}
@media (min-width: 660px) {
  .list-product {
    grid-template: auto / repeat(auto-fill, minmax(170px, 300px));
    grid-auto-rows: auto;
  }
}
@media (max-width: 661px) {
  .content-product__link {
    display: none;
  }
  .title {
    font-size: 30px;
  }
}

@media (max-width: 661px) and (min-width: 400px) {
  .item-product__data p {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.48;
  }
  .item-product__data a {
    font-size: 20px;
    line-height: 1.26;
    transition: all 0.4s;
  }
  .price-item {
    gap: 28px;
  }
  .price-item__newcost {
    font-size: 26px;
    font-weight: 600;
    line-height: 1.38;
  }
  .price-item__purchases {
    gap: 20px;
  }
  .purchases__icon {
    flex: 0 0 70px;
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 400px) {
  .product__content {
    margin-bottom: 20px;
  }
}
/*-------Footer--------*/
.footer {
  background-color: #f0f0f0;
  text-align: center;
  padding: 30px 0;
}
