@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Orbitron:500,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo+2:regular&display=swap");
/*--------Шрифт Proxima Nova--------*/
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Integral CF";
  src: url("../fonts/IntegralCF-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/*-----Обнулення---*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  font-family: "Exo", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-color: #000001;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1303px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.home-section__title {
  font-family: "Exo", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.1666666667;
  text-transform: uppercase;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-column-gap: 3.125rem;
     -moz-column-gap: 3.125rem;
          column-gap: 3.125rem;
}

.menu__logo {
  white-space: nowrap;
  font-family: "Exo 2", sans-serif;
  text-transform: capitalize;
  letter-spacing: -3px;
  line-height: 0.6666666667;
}
@media (min-width: 83.3125em) {
  .menu__logo {
    font-size: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 83.3125em) {
  @supports (font-size: clamp( 1rem , 0.7235932873rem  +  1.3820335637vw , 1.875rem )) {
    .menu__logo {
      font-size: clamp( 1rem , 0.7235932873rem  +  1.3820335637vw , 1.875rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.7235932873rem  +  1.3820335637vw , 1.875rem )) {
    .menu__logo {
      font-size: calc(1rem + 0.875 * (100vw - 20rem) / 63.3125);
    }
  }
}
@media (max-width: 20em) {
  .menu__logo {
    font-size: 1rem;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.625rem;
  max-width: 794px;
}
@media (min-width: 71.875em) {
  .menu__list {
    -webkit-column-gap: 3.75rem;
       -moz-column-gap: 3.75rem;
            column-gap: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 71.875em) {
  @supports ((-moz-column-gap: clamp( 1.25rem , 0.2861445783rem  +  4.8192771084vw , 3.75rem )) or (column-gap: clamp( 1.25rem , 0.2861445783rem  +  4.8192771084vw , 3.75rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 1.25rem , 0.2861445783rem  +  4.8192771084vw , 3.75rem );
         -moz-column-gap: clamp( 1.25rem , 0.2861445783rem  +  4.8192771084vw , 3.75rem );
              column-gap: clamp( 1.25rem , 0.2861445783rem  +  4.8192771084vw , 3.75rem );
    }
  }
  @supports not ((-moz-column-gap: clamp( 1.25rem , 0.2861445783rem  +  4.8192771084vw , 3.75rem )) or (column-gap: clamp( 1.25rem , 0.2861445783rem  +  4.8192771084vw , 3.75rem ))) {
    .menu__list {
      -webkit-column-gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 51.875);
         -moz-column-gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 51.875);
              column-gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 51.875);
    }
  }
}
@media (max-width: 20em) {
  .menu__list {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}
.menu__item {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
@media (any-hover: hover) {
  .menu__item:hover {
    background-color: #6f00a9;
  }
}
.menu__link {
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.social-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 19px;
     -moz-column-gap: 19px;
          column-gap: 19px;
  row-gap: 0.625rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.social-menu__link {
  width: 20px;
  height: 20px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.social-menu__link img {
  width: 100%;
  height: 100%;
}
@media (any-hover: hover) {
  .social-menu__link:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.icon-menu {
  display: none;
}

.page__home {
  position: relative;
}

.home-section::before {
  content: "";
  width: 480px;
  height: 480px;
  position: absolute;
  top: -114px;
  left: -150px;
  border-radius: 480px;
  opacity: 0.3;
  background: -webkit-gradient(linear, left top, right top, from(rgba(151, 0, 255, 0.6)), color-stop(36.9%, rgba(87, 255, 28, 0.6)), color-stop(67.4%, rgba(255, 0, 0, 0.6)), to(rgba(0, 56, 255, 0.6)));
  background: linear-gradient(90deg, rgba(151, 0, 255, 0.6) 0%, rgba(87, 255, 28, 0.6) 36.9%, rgba(255, 0, 0, 0.6) 67.4%, rgba(0, 56, 255, 0.6) 100%);
  -webkit-filter: blur(50px);
          filter: blur(50px);
}
.home-section::after {
  content: "";
  width: 480px;
  height: 480px;
  position: absolute;
  bottom: -130px;
  right: -76px;
  border-radius: 480px;
  opacity: 0.3;
  background: -webkit-gradient(linear, left top, right top, from(rgba(151, 0, 255, 0.6)), color-stop(36.9%, rgba(87, 255, 28, 0.6)), color-stop(67.4%, rgba(255, 0, 0, 0.6)), to(rgba(0, 56, 255, 0.6)));
  background: linear-gradient(90deg, rgba(151, 0, 255, 0.6) 0%, rgba(87, 255, 28, 0.6) 36.9%, rgba(255, 0, 0, 0.6) 67.4%, rgba(0, 56, 255, 0.6) 100%);
  -webkit-filter: blur(50px);
          filter: blur(50px);
  z-index: 1;
}
.home-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 58px;
     -moz-column-gap: 58px;
          column-gap: 58px;
}
.home-section__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 688px;
          flex: 0 1 688px;
  height: 508px;
  position: relative;
  z-index: 3;
  background: url("../img/main/home_section/Image__latter.png") left 22px no-repeat, url("../img/main/home_section/Image_latter_an.png") 520px 74px no-repeat, url("../img/main/home_section/current_left.webp") left bottom no-repeat, url("../img/main/home_section/current_right.webp") right bottom no-repeat;
}
.home-section__picture img {
  height: 100%;
  aspect-ratio: 376/508;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 584px;
          flex: 0 1 584px;
  width: 584px;
  margin-top: 112px;
}
.home-section__name {
  display: inline-block;
  max-width: 120px;
  line-height: 1.1111111111;
  text-transform: uppercase;
  letter-spacing: -0.36px;
}
.home-section__name::after {
  content: "";
  display: block;
  width: 126%;
  height: 2px;
  margin-top: 0.625rem;
  background: -webkit-gradient(linear, left top, right top, from(#f00), color-stop(48.9%, #42ff00), to(#2400ff));
  background: linear-gradient(90deg, #f00 0%, #42ff00 48.9%, #2400ff 100%);
}
.home-section__title {
  font-size: 80px;
  line-height: 0.875;
}
.home-section__text {
  line-height: 2.2222222222;
  letter-spacing: -0.36px;
  text-transform: capitalize;
}
.button {
  max-width: 255px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #6f00a9;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: normal;
  padding: 15px 0;
  text-align: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
@media (any-hover: hover) {
  .button:hover {
    background-color: #0b0045;
  }
}