@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Orbitron:500,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo+2:regular&display=swap");
/*--------Шрифт Proxima Nova--------*/
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Integral CF";
  src: url("../fonts/IntegralCF-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/*-----Обнулення---*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  font-family: "Exo", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
.menu-open body {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-color: #000001;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1303px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.page__home {
  padding-top: 150px;
}
@media (min-width: 94.5em) {
  .page__home {
    margin-bottom: 5rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (margin-bottom: clamp( 1.25rem , -0.0670241287rem  +  5.3619302949vw , 5rem )) {
    .page__home {
      margin-bottom: clamp( 1.25rem , -0.0670241287rem  +  5.3619302949vw , 5rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.25rem , -0.0670241287rem  +  5.3619302949vw , 5rem )) {
    .page__home {
      margin-bottom: calc(1.25rem + 3.75 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .page__home {
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 47.99875em) {
  .page__home {
    padding-top: 5rem;
  }
}
@media (min-width: 94.5em) {
  .page__about {
    margin-bottom: 12.5rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (margin-bottom: clamp( 5rem , 2.3659517426rem  +  10.7238605898vw , 12.5rem )) {
    .page__about {
      margin-bottom: clamp( 5rem , 2.3659517426rem  +  10.7238605898vw , 12.5rem );
    }
  }
  @supports not (margin-bottom: clamp( 5rem , 2.3659517426rem  +  10.7238605898vw , 12.5rem )) {
    .page__about {
      margin-bottom: calc(5rem + 7.5 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .page__about {
    margin-bottom: 5rem;
  }
}
@media (min-width: 94.5em) {
  .page__portfolio {
    margin-bottom: 12.5rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (margin-bottom: clamp( 4.6875rem , 1.9436997319rem  +  11.1706881144vw , 12.5rem )) {
    .page__portfolio {
      margin-bottom: clamp( 4.6875rem , 1.9436997319rem  +  11.1706881144vw , 12.5rem );
    }
  }
  @supports not (margin-bottom: clamp( 4.6875rem , 1.9436997319rem  +  11.1706881144vw , 12.5rem )) {
    .page__portfolio {
      margin-bottom: calc(4.6875rem + 7.8125 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .page__portfolio {
    margin-bottom: 4.6875rem;
  }
}

.button {
  max-width: 255px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #6f00a9;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 900;
  padding: 15px 0px;
  text-align: center;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
}
@media (any-hover: hover) {
  .button:hover {
    background-color: #0b0045;
  }
}
@media (max-width: 24.5625em) {
  .button {
    max-width: 175px;
    padding: 8px 0px;
    font-size: 14px;
    line-height: 142.857143%; /* 20/14 */
  }
}

.portfolio-section__title, .about-section__title, .home-section__title {
  font-family: "Exo", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.16;
}
@media (min-width: 94.5em) {
  .portfolio-section__title, .about-section__title, .home-section__title {
    font-size: 3.75rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (font-size: clamp( 1.5rem , 0.7097855228rem  +  3.2171581769vw , 3.75rem )) {
    .portfolio-section__title, .about-section__title, .home-section__title {
      font-size: clamp( 1.5rem , 0.7097855228rem  +  3.2171581769vw , 3.75rem );
    }
  }
  @supports not (font-size: clamp( 1.5rem , 0.7097855228rem  +  3.2171581769vw , 3.75rem )) {
    .portfolio-section__title, .about-section__title, .home-section__title {
      font-size: calc(1.5rem + 2.25 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .portfolio-section__title, .about-section__title, .home-section__title {
    font-size: 1.5rem;
  }
}
@media (max-width: 47.99875em) {
  .portfolio-section__title, .about-section__title, .home-section__title {
    line-height: 1.2;
  }
}
@media (max-width: 24.5625em) {
  .portfolio-section__title, .about-section__title, .home-section__title {
    line-height: 1.25;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #000001;
  z-index: 50;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 30px;
}
@media (min-width: 120em) {
  .header__menu {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }
}
@media (min-width: 61.99875em) and (max-width: 120em) {
  @supports ((-moz-column-gap: clamp( 1.875rem , 0.5388488395rem  +  2.1551259671vw , 3.125rem )) or (column-gap: clamp( 1.875rem , 0.5388488395rem  +  2.1551259671vw , 3.125rem ))) {
    .header__menu {
      -webkit-column-gap: clamp( 1.875rem , 0.5388488395rem  +  2.1551259671vw , 3.125rem );
         -moz-column-gap: clamp( 1.875rem , 0.5388488395rem  +  2.1551259671vw , 3.125rem );
              column-gap: clamp( 1.875rem , 0.5388488395rem  +  2.1551259671vw , 3.125rem );
    }
  }
  @supports not ((-moz-column-gap: clamp( 1.875rem , 0.5388488395rem  +  2.1551259671vw , 3.125rem )) or (column-gap: clamp( 1.875rem , 0.5388488395rem  +  2.1551259671vw , 3.125rem ))) {
    .header__menu {
      -webkit-column-gap: calc(1.875rem + 1.25 * (100vw - 61.99875rem) / 58.00125);
         -moz-column-gap: calc(1.875rem + 1.25 * (100vw - 61.99875rem) / 58.00125);
              column-gap: calc(1.875rem + 1.25 * (100vw - 61.99875rem) / 58.00125);
    }
  }
}
@media (max-width: 61.99875em) {
  .header__menu {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }
}
@media (max-width: 61.99875em) {
  .header__menu {
    padding-top: 40px;
    padding-bottom: 20px;
  }
}

.menu__logo {
  white-space: nowrap;
  font-family: "Exo 2", sans-serif;
  text-transform: capitalize;
  line-height: 66.666667%; /* 20/30 */
  position: relative;
  z-index: 5;
}
@media (min-width: 94.5em) {
  .menu__logo {
    font-size: 1.875rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (font-size: clamp( 1rem , 0.69269437rem  +  1.2511170688vw , 1.875rem )) {
    .menu__logo {
      font-size: clamp( 1rem , 0.69269437rem  +  1.2511170688vw , 1.875rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.69269437rem  +  1.2511170688vw , 1.875rem )) {
    .menu__logo {
      font-size: calc(1rem + 0.875 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .menu__logo {
    font-size: 1rem;
  }
}
@media (min-width: 94.5em) {
  .menu__logo {
    letter-spacing: -0.1875rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (letter-spacing: clamp( -0.1875rem , -0.069269437rem  +  -0.1251117069vw , -0.1rem )) {
    .menu__logo {
      letter-spacing: clamp( -0.1875rem , -0.069269437rem  +  -0.1251117069vw , -0.1rem );
    }
  }
  @supports not (letter-spacing: clamp( -0.1875rem , -0.069269437rem  +  -0.1251117069vw , -0.1rem )) {
    .menu__logo {
      letter-spacing: calc(-0.1rem + -0.0875 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .menu__logo {
    letter-spacing: -0.1rem;
  }
}
@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    top: 0;
    right: -100%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: 100%;
    height: 100%;
    background: #000001;
    opacity: 0.94;
    z-index: 4;
    overflow: auto;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    right: -100%;
    height: 70px;
    width: 100%;
    background-color: #000001;
    z-index: 4;
  }
  .menu-open .menu__body::before {
    right: 0;
  }
  .menu-open .menu__body {
    right: 0;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 794px;
}
@media (min-width: 71.875em) {
  .menu__list {
    -webkit-column-gap: 3.75rem;
       -moz-column-gap: 3.75rem;
            column-gap: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 71.875em) {
  @supports ((-moz-column-gap: clamp( 1.25rem , 0.2861445783rem  +  4.8192771084vw , 3.75rem )) or (column-gap: clamp( 1.25rem , 0.2861445783rem  +  4.8192771084vw , 3.75rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 1.25rem , 0.2861445783rem  +  4.8192771084vw , 3.75rem );
         -moz-column-gap: clamp( 1.25rem , 0.2861445783rem  +  4.8192771084vw , 3.75rem );
              column-gap: clamp( 1.25rem , 0.2861445783rem  +  4.8192771084vw , 3.75rem );
    }
  }
  @supports not ((-moz-column-gap: clamp( 1.25rem , 0.2861445783rem  +  4.8192771084vw , 3.75rem )) or (column-gap: clamp( 1.25rem , 0.2861445783rem  +  4.8192771084vw , 3.75rem ))) {
    .menu__list {
      -webkit-column-gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 51.875);
         -moz-column-gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 51.875);
              column-gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 51.875);
    }
  }
}
@media (max-width: 20em) {
  .menu__list {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}
@media (max-width: 47.99875em) {
  .menu__list {
    row-gap: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 80px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.menu__item {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
}
.menu__item:hover {
  background-color: #6f00a9;
}
@media (max-width: 47.99875em) {
  .menu__item {
    padding: 5px;
  }
}
.menu__link {
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 125%; /* 20/16 */
  -webkit-transition: all 1s;
  transition: all 1s;
}
@media (max-width: 47.99875em) {
  .menu__link {
    font-size: 1.5625rem;
  }
}
.social-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 19px;
     -moz-column-gap: 19px;
          column-gap: 19px;
  row-gap: 0.625rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.social-menu__link {
  width: 20px;
  height: 20px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.social-menu__link img {
  width: 100%;
  height: 100%;
}
@media (any-hover: hover) {
  .social-menu__link:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 19px;
    position: relative;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    right: 0;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
  }
  .icon-menu::before {
    top: 0;
  }
  .menu-open .icon-menu::before {
    top: 50%;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-top: -1.5px;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .menu-open .icon-menu::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-bottom: -1.5px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
}

.home-section {
  position: relative;
  overflow: hidden;
}
.home-section::before {
  content: "";
  top: -19%;
  left: -9.9%;
  position: absolute;
  opacity: 0.3;
  background: -webkit-gradient(linear, left top, right top, from(rgba(151, 0, 255, 0.6)), color-stop(36.9%, rgba(87, 255, 28, 0.6)), color-stop(67.4%, rgba(255, 0, 0, 0.6)), to(rgba(0, 56, 255, 0.6)));
  background: linear-gradient(90deg, rgba(151, 0, 255, 0.6) 0%, rgba(87, 255, 28, 0.6) 36.9%, rgba(255, 0, 0, 0.6) 67.4%, rgba(0, 56, 255, 0.6) 100%);
  -webkit-filter: blur(50px);
          filter: blur(50px);
}
@media (min-width: 94.5em) {
  .home-section::before {
    border-radius: 30rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (border-radius: clamp( 7.5rem , -0.4021447721rem  +  32.1715817694vw , 30rem )) {
    .home-section::before {
      border-radius: clamp( 7.5rem , -0.4021447721rem  +  32.1715817694vw , 30rem );
    }
  }
  @supports not (border-radius: clamp( 7.5rem , -0.4021447721rem  +  32.1715817694vw , 30rem )) {
    .home-section::before {
      border-radius: calc(7.5rem + 22.5 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .home-section::before {
    border-radius: 7.5rem;
  }
}
@media (min-width: 94.5em) {
  .home-section::before {
    width: 30rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (width: clamp( 7.5rem , -0.4021447721rem  +  32.1715817694vw , 30rem )) {
    .home-section::before {
      width: clamp( 7.5rem , -0.4021447721rem  +  32.1715817694vw , 30rem );
    }
  }
  @supports not (width: clamp( 7.5rem , -0.4021447721rem  +  32.1715817694vw , 30rem )) {
    .home-section::before {
      width: calc(7.5rem + 22.5 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .home-section::before {
    width: 7.5rem;
  }
}
@media (min-width: 94.5em) {
  .home-section::before {
    height: 30rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (height: clamp( 7.5rem , -0.4021447721rem  +  32.1715817694vw , 30rem )) {
    .home-section::before {
      height: clamp( 7.5rem , -0.4021447721rem  +  32.1715817694vw , 30rem );
    }
  }
  @supports not (height: clamp( 7.5rem , -0.4021447721rem  +  32.1715817694vw , 30rem )) {
    .home-section::before {
      height: calc(7.5rem + 22.5 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .home-section::before {
    height: 7.5rem;
  }
}
@media (max-width: 24.5625em) {
  .home-section::before {
    top: 10%;
    left: 9.2%;
  }
}
.home-section::after {
  content: "";
  position: absolute;
  bottom: -22.5%; /* 135/600 */
  right: -4.89418%; /* -74/1512 */
  opacity: 0.3;
  background: -webkit-gradient(linear, left top, right top, from(rgba(151, 0, 255, 0.6)), color-stop(36.9%, rgba(87, 255, 28, 0.6)), color-stop(67.4%, rgba(255, 0, 0, 0.6)), to(rgba(0, 56, 255, 0.6)));
  background: linear-gradient(90deg, rgba(151, 0, 255, 0.6) 0%, rgba(87, 255, 28, 0.6) 36.9%, rgba(255, 0, 0, 0.6) 67.4%, rgba(0, 56, 255, 0.6) 100%);
  -webkit-filter: blur(50px);
          filter: blur(50px);
  z-index: 1;
}
@media (min-width: 94.5em) {
  .home-section::after {
    border-radius: 30rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (border-radius: clamp( 7.5rem , -0.4021447721rem  +  32.1715817694vw , 30rem )) {
    .home-section::after {
      border-radius: clamp( 7.5rem , -0.4021447721rem  +  32.1715817694vw , 30rem );
    }
  }
  @supports not (border-radius: clamp( 7.5rem , -0.4021447721rem  +  32.1715817694vw , 30rem )) {
    .home-section::after {
      border-radius: calc(7.5rem + 22.5 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .home-section::after {
    border-radius: 7.5rem;
  }
}
@media (min-width: 94.5em) {
  .home-section::after {
    width: 30rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (width: clamp( 7.5rem , -0.4021447721rem  +  32.1715817694vw , 30rem )) {
    .home-section::after {
      width: clamp( 7.5rem , -0.4021447721rem  +  32.1715817694vw , 30rem );
    }
  }
  @supports not (width: clamp( 7.5rem , -0.4021447721rem  +  32.1715817694vw , 30rem )) {
    .home-section::after {
      width: calc(7.5rem + 22.5 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .home-section::after {
    width: 7.5rem;
  }
}
@media (min-width: 94.5em) {
  .home-section::after {
    height: 30rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (height: clamp( 7.5rem , -0.4021447721rem  +  32.1715817694vw , 30rem )) {
    .home-section::after {
      height: clamp( 7.5rem , -0.4021447721rem  +  32.1715817694vw , 30rem );
    }
  }
  @supports not (height: clamp( 7.5rem , -0.4021447721rem  +  32.1715817694vw , 30rem )) {
    .home-section::after {
      height: calc(7.5rem + 22.5 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .home-section::after {
    height: 7.5rem;
  }
}
@media (max-width: 24.5625em) {
  .home-section::after {
    bottom: 10%;
    right: 8.905852%; /* 35/393 */
  }
}
.home-section__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 94.5em) {
  .home-section__body {
    -webkit-column-gap: 3.625rem;
       -moz-column-gap: 3.625rem;
            column-gap: 3.625rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports ((-moz-column-gap: clamp( 1.875rem , 1.2603887399rem  +  2.5022341376vw , 3.625rem )) or (column-gap: clamp( 1.875rem , 1.2603887399rem  +  2.5022341376vw , 3.625rem ))) {
    .home-section__body {
      -webkit-column-gap: clamp( 1.875rem , 1.2603887399rem  +  2.5022341376vw , 3.625rem );
         -moz-column-gap: clamp( 1.875rem , 1.2603887399rem  +  2.5022341376vw , 3.625rem );
              column-gap: clamp( 1.875rem , 1.2603887399rem  +  2.5022341376vw , 3.625rem );
    }
  }
  @supports not ((-moz-column-gap: clamp( 1.875rem , 1.2603887399rem  +  2.5022341376vw , 3.625rem )) or (column-gap: clamp( 1.875rem , 1.2603887399rem  +  2.5022341376vw , 3.625rem ))) {
    .home-section__body {
      -webkit-column-gap: calc(1.875rem + 1.75 * (100vw - 24.5625rem) / 69.9375);
         -moz-column-gap: calc(1.875rem + 1.75 * (100vw - 24.5625rem) / 69.9375);
              column-gap: calc(1.875rem + 1.75 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .home-section__body {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }
}
.home-section__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 688px;
          flex: 0 1 688px;
  max-height: 508px;
  min-height: 147px;
  position: relative;
  min-width: 110px;
}
.home-section__img-man {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 3;
}
@media (min-width: 94.5em) {
  .home-section__img-man {
    width: 23.5rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (width: clamp( 11.0625rem , 6.6943699732rem  +  17.7837354781vw , 23.5rem )) {
    .home-section__img-man {
      width: clamp( 11.0625rem , 6.6943699732rem  +  17.7837354781vw , 23.5rem );
    }
  }
  @supports not (width: clamp( 11.0625rem , 6.6943699732rem  +  17.7837354781vw , 23.5rem )) {
    .home-section__img-man {
      width: calc(11.0625rem + 12.4375 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .home-section__img-man {
    width: 11.0625rem;
  }
}
@media (min-width: 94.5em) {
  .home-section__img-man {
    height: 31.75rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (height: clamp( 17.5rem , 12.495308311rem  +  20.3753351206vw , 31.75rem )) {
    .home-section__img-man {
      height: clamp( 17.5rem , 12.495308311rem  +  20.3753351206vw , 31.75rem );
    }
  }
  @supports not (height: clamp( 17.5rem , 12.495308311rem  +  20.3753351206vw , 31.75rem )) {
    .home-section__img-man {
      height: calc(17.5rem + 14.25 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .home-section__img-man {
    height: 17.5rem;
  }
}
.home-section__current-left {
  max-width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
@media (min-width: 94.5em) {
  .home-section__current-left {
    width: 19.6875rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (width: clamp( 6.0625rem , 1.2773123324rem  +  19.4816800715vw , 19.6875rem )) {
    .home-section__current-left {
      width: clamp( 6.0625rem , 1.2773123324rem  +  19.4816800715vw , 19.6875rem );
    }
  }
  @supports not (width: clamp( 6.0625rem , 1.2773123324rem  +  19.4816800715vw , 19.6875rem )) {
    .home-section__current-left {
      width: calc(6.0625rem + 13.625 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .home-section__current-left {
    width: 6.0625rem;
  }
}
@media (min-width: 94.5em) {
  .home-section__current-left {
    height: 22.1875rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (height: clamp( 6.8125rem , 1.4127010724rem  +  21.9839142091vw , 22.1875rem )) {
    .home-section__current-left {
      height: clamp( 6.8125rem , 1.4127010724rem  +  21.9839142091vw , 22.1875rem );
    }
  }
  @supports not (height: clamp( 6.8125rem , 1.4127010724rem  +  21.9839142091vw , 22.1875rem )) {
    .home-section__current-left {
      height: calc(6.8125rem + 15.375 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .home-section__current-left {
    height: 6.8125rem;
  }
}
@media (max-width: 47.99875em) {
  .home-section__current-left {
    width: 100%;
  }
}
@media (max-width: 31.25em) {
  .home-section__current-left {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
}
.home-section__current-right {
  max-width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}
@media (min-width: 94.5em) {
  .home-section__current-right {
    width: 17.875rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (width: clamp( 5.625rem , 1.3227211796rem  +  17.5156389634vw , 17.875rem )) {
    .home-section__current-right {
      width: clamp( 5.625rem , 1.3227211796rem  +  17.5156389634vw , 17.875rem );
    }
  }
  @supports not (width: clamp( 5.625rem , 1.3227211796rem  +  17.5156389634vw , 17.875rem )) {
    .home-section__current-right {
      width: calc(5.625rem + 12.25 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .home-section__current-right {
    width: 5.625rem;
  }
}
@media (min-width: 94.5em) {
  .home-section__current-right {
    height: 20.0625rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (height: clamp( 6.8125rem , 2.1590147453rem  +  18.945487042vw , 20.0625rem )) {
    .home-section__current-right {
      height: clamp( 6.8125rem , 2.1590147453rem  +  18.945487042vw , 20.0625rem );
    }
  }
  @supports not (height: clamp( 6.8125rem , 2.1590147453rem  +  18.945487042vw , 20.0625rem )) {
    .home-section__current-right {
      height: calc(6.8125rem + 13.25 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .home-section__current-right {
    height: 6.8125rem;
  }
}
@media (max-width: 47.99875em) {
  .home-section__current-right {
    display: none;
  }
}
.home-section__latter-ae {
  position: absolute;
  top: 13.77%;
  right: 8.72%;
  z-index: 2;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
@media (min-width: 94.5em) {
  .home-section__latter-ae {
    width: 4.375rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (width: clamp( 1.25rem , 0.1524798928rem  +  4.4682752458vw , 4.375rem )) {
    .home-section__latter-ae {
      width: clamp( 1.25rem , 0.1524798928rem  +  4.4682752458vw , 4.375rem );
    }
  }
  @supports not (width: clamp( 1.25rem , 0.1524798928rem  +  4.4682752458vw , 4.375rem )) {
    .home-section__latter-ae {
      width: calc(1.25rem + 3.125 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .home-section__latter-ae {
    width: 1.25rem;
  }
}
@media (min-width: 94.5em) {
  .home-section__latter-ae {
    height: 5.5rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (height: clamp( 1.75rem , 0.4329758713rem  +  5.3619302949vw , 5.5rem )) {
    .home-section__latter-ae {
      height: clamp( 1.75rem , 0.4329758713rem  +  5.3619302949vw , 5.5rem );
    }
  }
  @supports not (height: clamp( 1.75rem , 0.4329758713rem  +  5.3619302949vw , 5.5rem )) {
    .home-section__latter-ae {
      height: calc(1.75rem + 3.75 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .home-section__latter-ae {
    height: 1.75rem;
  }
}
@media (max-width: 47.99875em) {
  .home-section__latter-ae {
    top: 21.022727%; /* 37/176 */
    -webkit-transform: rotate(18deg);
        -ms-transform: rotate(18deg);
            transform: rotate(18deg);
  }
}
.home-section__latter-pr {
  position: absolute;
  top: 4.33%;
  left: 3.63%;
  z-index: 2;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
@media (min-width: 94.5em) {
  .home-section__latter-pr {
    width: 6.875rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (width: clamp( 1.75rem , -0.0499329759rem  +  7.327971403vw , 6.875rem )) {
    .home-section__latter-pr {
      width: clamp( 1.75rem , -0.0499329759rem  +  7.327971403vw , 6.875rem );
    }
  }
  @supports not (width: clamp( 1.75rem , -0.0499329759rem  +  7.327971403vw , 6.875rem )) {
    .home-section__latter-pr {
      width: calc(1.75rem + 5.125 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .home-section__latter-pr {
    width: 1.75rem;
  }
}
@media (min-width: 94.5em) {
  .home-section__latter-pr {
    height: 8.5rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (height: clamp( 2.125rem , -0.1139410188rem  +  9.1152815013vw , 8.5rem )) {
    .home-section__latter-pr {
      height: clamp( 2.125rem , -0.1139410188rem  +  9.1152815013vw , 8.5rem );
    }
  }
  @supports not (height: clamp( 2.125rem , -0.1139410188rem  +  9.1152815013vw , 8.5rem )) {
    .home-section__latter-pr {
      height: calc(2.125rem + 6.375 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .home-section__latter-pr {
    height: 2.125rem;
  }
}
@media (max-width: 47.99875em) {
  .home-section__latter-pr {
    top: 11.3%;
    -webkit-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
}
.home-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 584px;
          flex: 0 1 584px;
  width: 584px;
  gap: 20px;
  position: relative;
  z-index: 3;
}
@media (min-width: 94.5em) {
  .home-section__content {
    margin-top: 7rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (margin-top: clamp( 1.4375rem , -0.5160857909rem  +  7.9535299374vw , 7rem )) {
    .home-section__content {
      margin-top: clamp( 1.4375rem , -0.5160857909rem  +  7.9535299374vw , 7rem );
    }
  }
  @supports not (margin-top: clamp( 1.4375rem , -0.5160857909rem  +  7.9535299374vw , 7rem )) {
    .home-section__content {
      margin-top: calc(1.4375rem + 5.5625 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .home-section__content {
    margin-top: 1.4375rem;
  }
}
@media (max-width: 24.5625em) {
  .home-section__content {
    gap: 12px;
    max-width: 233px;
  }
}
.home-section__name {
  display: inline-block;
  max-width: 120px;
  line-height: 111.111111%; /* 20/18 */
  text-transform: uppercase;
  letter-spacing: -0.36px;
}
.home-section__name::after {
  content: "";
  display: block;
  width: 120%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#f00), color-stop(48.9%, #42ff00), to(#2400ff));
  background: linear-gradient(90deg, #f00 0%, #42ff00 48.9%, #2400ff 100%);
}
@media (min-width: 94.5em) {
  .home-section__name::after {
    margin-top: 0.625rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (margin-top: clamp( 0.25rem , 0.1182975871rem  +  0.5361930295vw , 0.625rem )) {
    .home-section__name::after {
      margin-top: clamp( 0.25rem , 0.1182975871rem  +  0.5361930295vw , 0.625rem );
    }
  }
  @supports not (margin-top: clamp( 0.25rem , 0.1182975871rem  +  0.5361930295vw , 0.625rem )) {
    .home-section__name::after {
      margin-top: calc(0.25rem + 0.375 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .home-section__name::after {
    margin-top: 0.25rem;
  }
}
@media (max-width: 47.99875em) {
  .home-section__name::after {
    width: 90%;
  }
}
@media (min-width: 94.5em) {
  .home-section__name {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 94.5em) {
  @supports (font-size: clamp( 0.875rem , 0.807885906rem  +  0.3355704698vw , 1.125rem )) {
    .home-section__name {
      font-size: clamp( 0.875rem , 0.807885906rem  +  0.3355704698vw , 1.125rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.807885906rem  +  0.3355704698vw , 1.125rem )) {
    .home-section__name {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 74.5);
    }
  }
}
@media (max-width: 20em) {
  .home-section__name {
    font-size: 0.875rem;
  }
}
.home-section__title {
  line-height: 87.5%; /* 70/80 */
}
@media (max-width: 24.5625em) {
  .home-section__title {
    line-height: 109.375%; /* 35/32 */
  }
}
@media (min-width: 94.5em) {
  .home-section__title {
    font-size: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 94.5em) {
  @supports (font-size: clamp( 1.875rem , 1.0360738255rem  +  4.1946308725vw , 5rem )) {
    .home-section__title {
      font-size: clamp( 1.875rem , 1.0360738255rem  +  4.1946308725vw , 5rem );
    }
  }
  @supports not (font-size: clamp( 1.875rem , 1.0360738255rem  +  4.1946308725vw , 5rem )) {
    .home-section__title {
      font-size: calc(1.875rem + 3.125 * (100vw - 20rem) / 74.5);
    }
  }
}
@media (max-width: 20em) {
  .home-section__title {
    font-size: 1.875rem;
  }
}
.home-section__text {
  text-transform: capitalize;
  line-height: 222.222222%; /* 40/18 */
}
@media (min-width: 83.3125em) {
  .home-section__text {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 83.3125em) {
  @supports (font-size: clamp( 0.875rem , 0.7960266535rem  +  0.3948667325vw , 1.125rem )) {
    .home-section__text {
      font-size: clamp( 0.875rem , 0.7960266535rem  +  0.3948667325vw , 1.125rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.7960266535rem  +  0.3948667325vw , 1.125rem )) {
    .home-section__text {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 63.3125);
    }
  }
}
@media (max-width: 20em) {
  .home-section__text {
    font-size: 0.875rem;
  }
}
@media (min-width: 94.5em) {
  .home-section__text {
    letter-spacing: -0.0225rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (letter-spacing: clamp( -0.0225rem , -0.0140549598rem  +  -0.0089365505vw , -0.01625rem )) {
    .home-section__text {
      letter-spacing: clamp( -0.0225rem , -0.0140549598rem  +  -0.0089365505vw , -0.01625rem );
    }
  }
  @supports not (letter-spacing: clamp( -0.0225rem , -0.0140549598rem  +  -0.0089365505vw , -0.01625rem )) {
    .home-section__text {
      letter-spacing: calc(-0.01625rem + -0.00625 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .home-section__text {
    letter-spacing: -0.01625rem;
  }
}
@media (max-width: 24.5625em) {
  .home-section__text {
    line-height: 107.142857%; /* 15/14 */
  }
}
.home-section__size767 {
  display: none;
}
@media (max-width: 47.99875em) {
  .home-section__size767 {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 2.5rem;
    position: relative;
    z-index: 3;
  }
}

.about-section {
  min-height: 100%;
  position: relative;
  background: linear-gradient(87deg, rgb(0, 0, 0) 90%, rgb(0, 0, 0) 100%), url("../img/main/about_section/about_section_background.webp") 0 0/cover no-repeat;
}
.about-section::before {
  content: "";
  top: -23.666667%; /* 142/600 */
  left: -11.574074%; /* 175/1512 */
  position: absolute;
  opacity: 0.3;
  background: -webkit-gradient(linear, left top, right top, from(rgba(151, 0, 255, 0.6)), color-stop(36.9%, rgba(87, 255, 28, 0.6)), color-stop(67.4%, rgba(255, 0, 0, 0.6)), to(rgba(0, 56, 255, 0.6)));
  background: linear-gradient(90deg, rgba(151, 0, 255, 0.6) 0%, rgba(87, 255, 28, 0.6) 36.9%, rgba(255, 0, 0, 0.6) 67.4%, rgba(0, 56, 255, 0.6) 100%);
  -webkit-filter: blur(50px);
          filter: blur(50px);
}
@media (min-width: 94.5em) {
  .about-section::before {
    border-radius: 30rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (border-radius: clamp( 7.5rem , -0.4021447721rem  +  32.1715817694vw , 30rem )) {
    .about-section::before {
      border-radius: clamp( 7.5rem , -0.4021447721rem  +  32.1715817694vw , 30rem );
    }
  }
  @supports not (border-radius: clamp( 7.5rem , -0.4021447721rem  +  32.1715817694vw , 30rem )) {
    .about-section::before {
      border-radius: calc(7.5rem + 22.5 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .about-section::before {
    border-radius: 7.5rem;
  }
}
@media (min-width: 94.5em) {
  .about-section::before {
    width: 30rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (width: clamp( 7.5rem , -0.4021447721rem  +  32.1715817694vw , 30rem )) {
    .about-section::before {
      width: clamp( 7.5rem , -0.4021447721rem  +  32.1715817694vw , 30rem );
    }
  }
  @supports not (width: clamp( 7.5rem , -0.4021447721rem  +  32.1715817694vw , 30rem )) {
    .about-section::before {
      width: calc(7.5rem + 22.5 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .about-section::before {
    width: 7.5rem;
  }
}
@media (min-width: 94.5em) {
  .about-section::before {
    height: 30rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (height: clamp( 7.5rem , -0.4021447721rem  +  32.1715817694vw , 30rem )) {
    .about-section::before {
      height: clamp( 7.5rem , -0.4021447721rem  +  32.1715817694vw , 30rem );
    }
  }
  @supports not (height: clamp( 7.5rem , -0.4021447721rem  +  32.1715817694vw , 30rem )) {
    .about-section::before {
      height: calc(7.5rem + 22.5 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .about-section::before {
    height: 7.5rem;
  }
}
@media (max-width: 24.5625em) {
  .about-section::before {
    top: 10%;
    left: 9.160305%; /* 36/393 */
  }
}
.about-section::after {
  content: "";
  position: absolute;
  bottom: -23.833333%; /* -143/600 */
  right: -7.60582%; /* -115/1512 */
  opacity: 0.3;
  background: -webkit-gradient(linear, left top, right top, from(rgba(151, 0, 255, 0.6)), color-stop(36.9%, rgba(87, 255, 28, 0.6)), color-stop(67.4%, rgba(255, 0, 0, 0.6)), to(rgba(0, 56, 255, 0.6)));
  background: linear-gradient(90deg, rgba(151, 0, 255, 0.6) 0%, rgba(87, 255, 28, 0.6) 36.9%, rgba(255, 0, 0, 0.6) 67.4%, rgba(0, 56, 255, 0.6) 100%);
  -webkit-filter: blur(50px);
          filter: blur(50px);
  z-index: 1;
}
@media (min-width: 94.5em) {
  .about-section::after {
    border-radius: 30rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (border-radius: clamp( 7.5rem , -0.4021447721rem  +  32.1715817694vw , 30rem )) {
    .about-section::after {
      border-radius: clamp( 7.5rem , -0.4021447721rem  +  32.1715817694vw , 30rem );
    }
  }
  @supports not (border-radius: clamp( 7.5rem , -0.4021447721rem  +  32.1715817694vw , 30rem )) {
    .about-section::after {
      border-radius: calc(7.5rem + 22.5 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .about-section::after {
    border-radius: 7.5rem;
  }
}
@media (min-width: 94.5em) {
  .about-section::after {
    width: 30rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (width: clamp( 7.5rem , -0.4021447721rem  +  32.1715817694vw , 30rem )) {
    .about-section::after {
      width: clamp( 7.5rem , -0.4021447721rem  +  32.1715817694vw , 30rem );
    }
  }
  @supports not (width: clamp( 7.5rem , -0.4021447721rem  +  32.1715817694vw , 30rem )) {
    .about-section::after {
      width: calc(7.5rem + 22.5 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .about-section::after {
    width: 7.5rem;
  }
}
@media (min-width: 94.5em) {
  .about-section::after {
    height: 30rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (height: clamp( 7.5rem , -0.4021447721rem  +  32.1715817694vw , 30rem )) {
    .about-section::after {
      height: clamp( 7.5rem , -0.4021447721rem  +  32.1715817694vw , 30rem );
    }
  }
  @supports not (height: clamp( 7.5rem , -0.4021447721rem  +  32.1715817694vw , 30rem )) {
    .about-section::after {
      height: calc(7.5rem + 22.5 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .about-section::after {
    height: 7.5rem;
  }
}
@media (max-width: 24.5625em) {
  .about-section::after {
    bottom: 10%;
    right: 8.905852%; /* 35/393 */
  }
}
.about-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
@media (min-width: 94.5em) {
  .about-section__container {
    padding-top: 7.5rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (padding-top: clamp( 0.0000000625rem , -2.6340481729rem  +  10.7238605004vw , 7.5rem )) {
    .about-section__container {
      padding-top: clamp( 0.0000000625rem , -2.6340481729rem  +  10.7238605004vw , 7.5rem );
    }
  }
  @supports not (padding-top: clamp( 0.0000000625rem , -2.6340481729rem  +  10.7238605004vw , 7.5rem )) {
    .about-section__container {
      padding-top: calc(0.0000000625rem + 7.4999999375 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .about-section__container {
    padding-top: 0.0000000625rem;
  }
}
@media (min-width: 94.5em) {
  .about-section__container {
    padding-bottom: 7.5rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (padding-bottom: clamp( 0.0000000625rem , -2.6340481729rem  +  10.7238605004vw , 7.5rem )) {
    .about-section__container {
      padding-bottom: clamp( 0.0000000625rem , -2.6340481729rem  +  10.7238605004vw , 7.5rem );
    }
  }
  @supports not (padding-bottom: clamp( 0.0000000625rem , -2.6340481729rem  +  10.7238605004vw , 7.5rem )) {
    .about-section__container {
      padding-bottom: calc(0.0000000625rem + 7.4999999375 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .about-section__container {
    padding-bottom: 0.0000000625rem;
  }
}
@media (max-width: 24.5625em) {
  .about-section__container {
    padding-right: 1.875rem;
    padding-left: 1.875rem;
  }
}
.about-section__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 62rem;
  width: 100%;
}
@media (min-width: 94.5em) {
  .about-section__title {
    row-gap: 1.25rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (row-gap: clamp( 0.25rem , -0.1012064343rem  +  1.4298480786vw , 1.25rem )) {
    .about-section__title {
      row-gap: clamp( 0.25rem , -0.1012064343rem  +  1.4298480786vw , 1.25rem );
    }
  }
  @supports not (row-gap: clamp( 0.25rem , -0.1012064343rem  +  1.4298480786vw , 1.25rem )) {
    .about-section__title {
      row-gap: calc(0.25rem + 1 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .about-section__title {
    row-gap: 0.25rem;
  }
}
.about-section__title:not(:last-child) {
  margin-bottom: 1.25rem;
}
.about-section__title::after {
  content: "";
  -ms-flex-item-align: center;
      align-self: center;
  width: 40%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#f00), color-stop(48.9%, #42ff00), to(#2400ff));
  background: linear-gradient(90deg, #f00 0%, #42ff00 48.9%, #2400ff 100%);
}
.about-section__text {
  max-width: 62rem;
  text-align: center;
  line-height: 222.222222%; /* 40/18 */
  letter-spacing: -0.36px;
  text-transform: capitalize;
}
@media (min-width: 94.5em) {
  .about-section__text:not(:last-child) {
    margin-bottom: 3.75rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (margin-bottom: clamp( 1.25rem , 0.3719839142rem  +  3.5746201966vw , 3.75rem )) {
    .about-section__text:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.3719839142rem  +  3.5746201966vw , 3.75rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.25rem , 0.3719839142rem  +  3.5746201966vw , 3.75rem )) {
    .about-section__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 2.5 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .about-section__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
@media (min-width: 94.5em) {
  .about-section__text {
    font-size: 1.125rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (font-size: clamp( 0.875rem , 0.7871983914rem  +  0.3574620197vw , 1.125rem )) {
    .about-section__text {
      font-size: clamp( 0.875rem , 0.7871983914rem  +  0.3574620197vw , 1.125rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.7871983914rem  +  0.3574620197vw , 1.125rem )) {
    .about-section__text {
      font-size: calc(0.875rem + 0.25 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .about-section__text {
    font-size: 0.875rem;
  }
}
@media (max-width: 24.5625em) {
  .about-section__text {
    letter-spacing: -0.28px;
    line-height: 214.285714%; /* 30/14 */
  }
}
.about-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  overflow-x: auto;
  overflow-y: clip;
}
.about-section__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about-section__item::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, from(#f00), color-stop(48.9%, #42ff00), to(#2400ff));
  background: linear-gradient(90deg, #f00 0%, #42ff00 48.9%, #2400ff 100%);
}
@media (min-width: 94.5em) {
  .about-section__item::after {
    margin-left: 2.5rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (margin-left: clamp( 1.5625rem , 1.2332439678rem  +  1.3404825737vw , 2.5rem )) {
    .about-section__item::after {
      margin-left: clamp( 1.5625rem , 1.2332439678rem  +  1.3404825737vw , 2.5rem );
    }
  }
  @supports not (margin-left: clamp( 1.5625rem , 1.2332439678rem  +  1.3404825737vw , 2.5rem )) {
    .about-section__item::after {
      margin-left: calc(1.5625rem + 0.9375 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .about-section__item::after {
    margin-left: 1.5625rem;
  }
}
.about-section__link {
  font-family: "Orbitron", sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
  line-height: 1.25;
}
@media (min-width: 94.5em) {
  .about-section__link {
    font-size: 1.25rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (font-size: clamp( 0.875rem , 0.7432975871rem  +  0.5361930295vw , 1.25rem )) {
    .about-section__link {
      font-size: clamp( 0.875rem , 0.7432975871rem  +  0.5361930295vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.7432975871rem  +  0.5361930295vw , 1.25rem )) {
    .about-section__link {
      font-size: calc(0.875rem + 0.375 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .about-section__link {
    font-size: 0.875rem;
  }
}
@media (min-width: 94.5em) {
  .about-section__link {
    padding: 0.625rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (padding: clamp( 0.3125rem , 0.2027479893rem  +  0.4468275246vw , 0.625rem )) {
    .about-section__link {
      padding: clamp( 0.3125rem , 0.2027479893rem  +  0.4468275246vw , 0.625rem );
    }
  }
  @supports not (padding: clamp( 0.3125rem , 0.2027479893rem  +  0.4468275246vw , 0.625rem )) {
    .about-section__link {
      padding: calc(0.3125rem + 0.3125 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .about-section__link {
    padding: 0.3125rem;
  }
}
@media (max-width: 24.5625em) {
  .about-section__link {
    line-height: 1.07;
  }
}

.portfolio-section {
  position: relative;
  background: url("../img/main/portfolio_section/BG.webp") top center/1397px no-repeat;
}
.portfolio-section__container {
  position: relative;
  z-index: 2;
}
.portfolio-section__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: flex-start;
  max-width: 26.6875rem;
  width: 100%;
}
@media (min-width: 94.5em) {
  .portfolio-section__title {
    row-gap: 1.25rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (row-gap: clamp( 0.25rem , -0.1012064343rem  +  1.4298480786vw , 1.25rem )) {
    .portfolio-section__title {
      row-gap: clamp( 0.25rem , -0.1012064343rem  +  1.4298480786vw , 1.25rem );
    }
  }
  @supports not (row-gap: clamp( 0.25rem , -0.1012064343rem  +  1.4298480786vw , 1.25rem )) {
    .portfolio-section__title {
      row-gap: calc(0.25rem + 1 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .portfolio-section__title {
    row-gap: 0.25rem;
  }
}
.portfolio-section__title::after {
  content: "";
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#f00), color-stop(48.9%, #42ff00), to(#2400ff));
  background: linear-gradient(90deg, #f00 0%, #42ff00 48.9%, #2400ff 100%);
}
@media (max-width: 47.99875em) {
  .portfolio-section__title::after {
    width: 70%;
  }
}
@media (max-width: 24.5625em) {
  .portfolio-section__title::after {
    width: 53%;
  }
}
@media (min-width: 94.5em) {
  .portfolio-section__title:not(:last-child) {
    margin-bottom: 7.5rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (margin-bottom: clamp( 1.25rem , -0.9450402145rem  +  8.9365504915vw , 7.5rem )) {
    .portfolio-section__title:not(:last-child) {
      margin-bottom: clamp( 1.25rem , -0.9450402145rem  +  8.9365504915vw , 7.5rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.25rem , -0.9450402145rem  +  8.9365504915vw , 7.5rem )) {
    .portfolio-section__title:not(:last-child) {
      margin-bottom: calc(1.25rem + 6.25 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .portfolio-section__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.previues-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  overflow-x: auto;
  overflow-y: clip;
}
@media (min-width: 94.5em) {
  .previues-portfolio {
    gap: 2.5rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (gap: clamp( 1.3125rem , 0.8954423592rem  +  1.6979445934vw , 2.5rem )) {
    .previues-portfolio {
      gap: clamp( 1.3125rem , 0.8954423592rem  +  1.6979445934vw , 2.5rem );
    }
  }
  @supports not (gap: clamp( 1.3125rem , 0.8954423592rem  +  1.6979445934vw , 2.5rem )) {
    .previues-portfolio {
      gap: calc(1.3125rem + 1.1875 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .previues-portfolio {
    gap: 1.3125rem;
  }
}
.item-portfolio {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 360px;
      flex-basis: 360px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
@media (max-width: 62.37375em) {
  .item-portfolio {
    -ms-flex-preferred-size: 300px;
        flex-basis: 300px;
  }
}
@media (max-width: 38.75em) {
  .item-portfolio {
    -ms-flex-preferred-size: 250px;
        flex-basis: 250px;
  }
}
@media (max-width: 24.5625em) {
  .item-portfolio {
    -ms-flex-preferred-size: 193px;
        flex-basis: 193px;
  }
}
.item-portfolio__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}
.item-portfolio__signature {
  font-family: "Exo", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
@media (min-width: 94.5em) {
  .item-portfolio__signature {
    font-size: 2.5rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (font-size: clamp( 0.875rem , 0.3042895442rem  +  2.3235031278vw , 2.5rem )) {
    .item-portfolio__signature {
      font-size: clamp( 0.875rem , 0.3042895442rem  +  2.3235031278vw , 2.5rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.3042895442rem  +  2.3235031278vw , 2.5rem )) {
    .item-portfolio__signature {
      font-size: calc(0.875rem + 1.625 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .item-portfolio__signature {
    font-size: 0.875rem;
  }
}
.item-portfolio:hover p {
  display: block;
}
.item-portfolio:hover .images-portfolio {
  border: 7px solid #9700ff;
}
.item-portfolio:hover .images-portfolio__video::before {
  opacity: 0.8;
}
.item-portfolio:hover .item-portfolio__signature {
  color: #9700ff;
}

.images-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.images-portfolio__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
.images-portfolio__video img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 360/360;
}
.images-portfolio__video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}
.images-portfolio__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 225px;
          flex: 0 0 225px;
  width: 100%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  row-gap: 10px;
}
.images-portfolio__button img {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 120px;
          flex: 0 1 120px;
  width: 120px;
  -ms-flex-item-align: center;
      align-self: center;
}
@media (max-width: 47.99875em) {
  .images-portfolio__button img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 85px;
            flex: 0 1 85px;
    width: 85px;
  }
}
@media (max-width: 24.5625em) {
  .images-portfolio__button img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 65px;
            flex: 0 1 65px;
    width: 65px;
  }
}
.images-portfolio__button p {
  display: none;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 100%;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
@media (min-width: 94.5em) {
  .images-portfolio__button p {
    font-size: 2.5rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 94.5em) {
  @supports (font-size: clamp( 0.875rem , 0.3042895442rem  +  2.3235031278vw , 2.5rem )) {
    .images-portfolio__button p {
      font-size: clamp( 0.875rem , 0.3042895442rem  +  2.3235031278vw , 2.5rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.3042895442rem  +  2.3235031278vw , 2.5rem )) {
    .images-portfolio__button p {
      font-size: calc(0.875rem + 1.625 * (100vw - 24.5625rem) / 69.9375);
    }
  }
}
@media (max-width: 24.5625em) {
  .images-portfolio__button p {
    font-size: 0.875rem;
  }
}