@font-face {
  font-family: "icons";
  src: url("../fonts/icons.ttf?7eun38") format("truetype"),
    url("../fonts/icons.woff?7eun38") format("woff"),
    url("../fonts/icons.svg?7eun38#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-submit:before {
  content: "\e900";
}
._icon-arrow_up:before {
  content: "\e901";
}
._icon-bag:before {
  content: "\e902";
}
._icon-fb:before {
  content: "\e903";
}
._icon-filter:before {
  content: "\e904";
}
._icon-heart:before {
  content: "\e905";
}
._icon-in:before {
  content: "\e906";
}
._icon-insta:before {
  content: "\e907";
}
._icon-person:before {
  content: "\e908";
}
._icon-search:before {
  content: "\e909";
}
._icon-twiter:before {
  content: "\e90a";
}
