@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500&display=swap");
/*--------Шрифт Proxima Nova--------*/
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Integral CF";
  src: url("../fonts/IntegralCF-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/*-----Обнулення---*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.ttf?7eun38") format("truetype"), url(".//fonts/icons.woff?7eun38") format("woff"), url(".//fonts/icons.svg?7eun38#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon-]::before,
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-submit:before {
  content: "\e900";
}

._icon-arrow_up:before {
  content: "\e901";
}

._icon-bag:before {
  content: "\e902";
}

._icon-fb:before {
  content: "\e903";
}

._icon-filter:before {
  content: "\e904";
}

._icon-heart:before {
  content: "\e905";
}

._icon-in:before {
  content: "\e906";
}

._icon-insta:before {
  content: "\e907";
}

._icon-person:before {
  content: "\e908";
}

._icon-search:before {
  content: "\e909";
}

._icon-twiter:before {
  content: "\e90a";
}

:root {
  --mainColor: #000000;
  --blackColor: #1e2832;
  --blackColor50: rgba(30, 40, 50, 0.505);
  --whiteColor: #ffffff;
  --primaryColor: #ff6f61;
  --bgColor: rgba(30, 40, 50, 0.05);
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--mainColor);
}
.menu-open body {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-color: var(--whiteColor);
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 84.375rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.logo {
  font-family: "AmstelvarAlpha", serif;
  font-size: 28px;
}
.logo::before, .logo::after {
  display: inline-block;
  content: "";
  background: url("../img/header/icons/logo_icon.svg") 0 0/100% no-repeat;
  width: 1.9375rem;
  height: 0.9375rem;
}
.logo::before {
  margin-right: 0.625rem;
}
@media (max-width: 30em) {
  .logo::before {
    margin-right: 0.3125rem;
  }
}
.logo::after {
  margin-left: 0.625rem;
}
@media (max-width: 30em) {
  .logo::after {
    margin-left: 0.3125rem;
  }
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--blackColor);
  color: var(--whiteColor);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  text-transform: capitalize;
}
@media (any-hover: hover) {
  .button:hover {
    background-color: var(--primaryColor);
  }
}

.title {
  font-family: "Roboto0", sans-serif;
  font-weight: 500;
  text-transform: capitalize;
}
@media (min-width: 84.375em) {
  .title {
    font-size: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (font-size: clamp( 1.875rem , 1.4866504854rem  +  1.9417475728vw , 3.125rem )) {
    .title {
      font-size: clamp( 1.875rem , 1.4866504854rem  +  1.9417475728vw , 3.125rem );
    }
  }
  @supports not (font-size: clamp( 1.875rem , 1.4866504854rem  +  1.9417475728vw , 3.125rem )) {
    .title {
      font-size: calc(1.875rem + 1.25 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .title {
    font-size: 1.875rem;
  }
}

.navigation-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.125rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navigation-box__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 0.8125rem;
}
@media (max-width: 29.99875em) {
  .navigation-box__tabs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.navigation-box__item:not(:first-child) {
  color: rgba(0, 0, 0, 0.5);
}
.navigation-box__item:first-child {
  color: var(--mainColor);
}
.navigation-box__item:hover {
  color: var(--primaryColor);
}
.navigation-box__item.active {
  color: var(--mainColor);
}
.navigation-box__link {
  font-weight: 600;
  text-transform: capitalize;
}
.navigation-box__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  gap: 0.25rem;
  padding: 0.3125rem 0.9375rem;
}
.navigation-box ._icon-filter {
  font-size: 0.875rem;
  justify-self: flex-end;
}

._icon-person::before,
._icon-bag::before {
  font-size: 1.25rem;
  font-weight: 900;
}

.item-column {
  display: none;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.125rem;
}
@media (any-hover: hover) {
  .item-column:hover .item-column__info {
    opacity: 1;
    visibility: visible;
  }
}
@media (any-hover: none) {
  .item-column:hover .item-column__info {
    opacity: 1;
    visibility: visible;
  }
}
.item-column__body {
  position: relative;
}
.item-column__image {
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.255);
          box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.255);
}
.item-column__image img {
  width: 100%;
  aspect-ratio: 312/400;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.item-column__image img:hover {
  -webkit-transform: scale(1.06);
      -ms-transform: scale(1.06);
          transform: scale(1.06);
}
.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-row {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3.125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--blackColor);
  border: 1px solid var(--blackColor);
  padding: 0.9375rem 0.875rem;
  color: var(--whiteColor);
  text-transform: capitalize;
  font-weight: 600;
  transition: all 0.4s;
  gap: 1.25rem;
  font-size: 1.25rem;
}
.info-row__likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.3125rem;
  font-weight: 400;
  cursor: pointer;
}
.info-row__heart, .info-row__search {
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}
@media (any-hover: hover) {
  .info-row__heart:hover, .info-row__search:hover {
    color: var(--primaryColor);
  }
}
.info-row__button {
  font-size: 1.125rem;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  padding: 0.3125rem 0.9375rem;
}
.info-row__button span {
  margin-right: 0.5rem;
}

.offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  top: 7.051282%; /* 22/312 */
  left: 0;
  z-index: 3;
}
.offers__label {
  padding: 0.25rem 0.75rem;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--whiteColor);
}
.offers__label--sale {
  background-color: var(--blackColor);
}
.offers__label--hot {
  background-color: var(--primaryColor);
}

.details-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.875rem;
}
.details-box__type {
  text-transform: capitalize;
  color: var(--blackColor50);
}
.details-box__costs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 0.875rem;
}
.details-box__old-price {
  color: var(--blackColor50);
}
.details-box__price {
  font-weight: 600;
}
.details-box__new-price {
  color: var(--primaryColor);
}

.header {
  background-color: var(--bgColor);
}
.header__container {
  margin-top: 1.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.875rem;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}
@media (max-width: 73.8125em) {
  .header__container {
    margin-top: 0.9375rem;
  }
}
.top-header {
  position: relative;
  z-index: 2;
}
.top-header::after {
  content: "";
  width: 100%;
  height: 0.0625rem;
  background-color: #e3e3e3;
}
.top-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
}
.top-header__item {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.top-header__item:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
}
.top-header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.3125rem;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
@media (any-hover: hover) {
  .top-header__search:hover {
    outline: 0.0625rem solid var(--primaryColor);
    border-radius: 0.5rem;
    -webkit-box-shadow: inset 0px 0px 4px #bab6b6;
            box-shadow: inset 0px 0px 4px #bab6b6;
  }
}
.top-header__search:has(> .entry:focus) {
  outline: 0.0625rem solid var(--primaryColor);
}
.top-header__magic-glass {
  width: 1.25rem;
  height: 1.25rem;
}
.top-header__magic-glass img {
  width: 100%;
}
.top-header__entry {
  padding-left: 0.625rem;
  cursor: pointer;
}
.top-header__entry:focus {
  outline: none;
}
@media (max-width: 47.99875em) {
  .top-header__entry {
    display: none;
  }
}
@media (max-width: 24.375em) {
  .top-header__logo::before, .top-header__logo::after {
    display: none;
  }
}
.top-header__accounts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-column-gap: 1.375rem;
     -moz-column-gap: 1.375rem;
          column-gap: 1.375rem;
}
@media (max-width: 47.99875em) {
  .top-header__accounts {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}
.top-header__button-icon {
  display: none;
}

@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    z-index: 2;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    left: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: black;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu::before {
    top: 50%;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-top: -0.0625rem;
  }
  .menu-open .icon-menu::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-bottom: -0.0625rem;
  }
  .menu-open .icon-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
}

.account-item__account, .account-item__shopping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6.25rem;
          flex: 0 0 6.25rem;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
  color: var(--blackColor);
  font-size: 1.125rem;
  text-transform: capitalize;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}
@media (any-hover: hover) {
  .account-item__account:hover, .account-item__shopping:hover {
    color: var(--primaryColor);
  }
}
@media (max-width: 47.99875em) {
  .account-item__account, .account-item__shopping {
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
}
@media (max-width: 47.99875em) {
  .account-item__account span, .account-item__shopping span {
    display: none;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 47.99875em) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.menu__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.menu__link {
  line-height: 1.5; /* 24/16 */
  text-transform: capitalize;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: var(--primaryColor);
  }
}
@media (max-width: 47.99875em) {
  .menu__link {
    font-size: 1.75rem;
  }
}
@media (max-width: 20em) {
  .menu__link {
    font-size: 1.5625rem;
  }
}
@media (max-width: 47.99875em) {
  .menu {
    position: fixed;
    top: 4.4375rem;
    right: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 2;
    gap: 1.25rem;
    padding: 1.125rem;
    background-color: #f4f4f5;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
  }
  .menu-open .menu {
    right: 0;
  }
}

@media (min-width: 84.375em) {
  .page__collections {
    margin-bottom: 5.625rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (margin-bottom: clamp( 2.1875rem , 1.119538835rem  +  5.3398058252vw , 5.625rem )) {
    .page__collections {
      margin-bottom: clamp( 2.1875rem , 1.119538835rem  +  5.3398058252vw , 5.625rem );
    }
  }
  @supports not (margin-bottom: clamp( 2.1875rem , 1.119538835rem  +  5.3398058252vw , 5.625rem )) {
    .page__collections {
      margin-bottom: calc(2.1875rem + 3.4375 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .page__collections {
    margin-bottom: 2.1875rem;
  }
}
@media (min-width: 84.375em) {
  .page__brands {
    margin-bottom: 5.625rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (margin-bottom: clamp( 2.1875rem , 1.119538835rem  +  5.3398058252vw , 5.625rem )) {
    .page__brands {
      margin-bottom: clamp( 2.1875rem , 1.119538835rem  +  5.3398058252vw , 5.625rem );
    }
  }
  @supports not (margin-bottom: clamp( 2.1875rem , 1.119538835rem  +  5.3398058252vw , 5.625rem )) {
    .page__brands {
      margin-bottom: calc(2.1875rem + 3.4375 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .page__brands {
    margin-bottom: 2.1875rem;
  }
}
@media (min-width: 84.375em) {
  .page__newsletter {
    margin-bottom: 8.75rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (margin-bottom: clamp( 2.5rem , 0.5582524272rem  +  9.7087378641vw , 8.75rem )) {
    .page__newsletter {
      margin-bottom: clamp( 2.5rem , 0.5582524272rem  +  9.7087378641vw , 8.75rem );
    }
  }
  @supports not (margin-bottom: clamp( 2.5rem , 0.5582524272rem  +  9.7087378641vw , 8.75rem )) {
    .page__newsletter {
      margin-bottom: calc(2.5rem + 6.25 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .page__newsletter {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 84.375em) {
  .page__zara {
    margin-bottom: 8.75rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (margin-bottom: clamp( 2.5rem , 0.5582524272rem  +  9.7087378641vw , 8.75rem )) {
    .page__zara {
      margin-bottom: clamp( 2.5rem , 0.5582524272rem  +  9.7087378641vw , 8.75rem );
    }
  }
  @supports not (margin-bottom: clamp( 2.5rem , 0.5582524272rem  +  9.7087378641vw , 8.75rem )) {
    .page__zara {
      margin-bottom: calc(2.5rem + 6.25 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .page__zara {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 84.375em) {
  .page__sellers {
    margin-bottom: 8.75rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (margin-bottom: clamp( 2.5rem , 0.5582524272rem  +  9.7087378641vw , 8.75rem )) {
    .page__sellers {
      margin-bottom: clamp( 2.5rem , 0.5582524272rem  +  9.7087378641vw , 8.75rem );
    }
  }
  @supports not (margin-bottom: clamp( 2.5rem , 0.5582524272rem  +  9.7087378641vw , 8.75rem )) {
    .page__sellers {
      margin-bottom: calc(2.5rem + 6.25 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .page__sellers {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 84.375em) {
  .page__tracking {
    margin-bottom: 8.75rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (margin-bottom: clamp( 2.5rem , 0.5582524272rem  +  9.7087378641vw , 8.75rem )) {
    .page__tracking {
      margin-bottom: clamp( 2.5rem , 0.5582524272rem  +  9.7087378641vw , 8.75rem );
    }
  }
  @supports not (margin-bottom: clamp( 2.5rem , 0.5582524272rem  +  9.7087378641vw , 8.75rem )) {
    .page__tracking {
      margin-bottom: calc(2.5rem + 6.25 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .page__tracking {
    margin-bottom: 2.5rem;
  }
}

.collections-section {
  background-color: var(--bgColor);
  position: relative;
}
.collections-section__container {
  padding-top: 5rem;
  padding-bottom: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 6.125rem;
     -moz-column-gap: 6.125rem;
          column-gap: 6.125rem;
}
@media (max-width: 61.99875em) {
  .collections-section__container {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    -webkit-column-gap: 3.75rem;
       -moz-column-gap: 3.75rem;
            column-gap: 3.75rem;
  }
}
@media (max-width: 47.99875em) {
  .collections-section__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
  }
}
.collections-section__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 42.625rem;
          flex: 0 1 42.625rem;
  max-width: 42.625rem;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  padding-top: 4.625rem;
  padding-bottom: 7.75rem;
}
@media (max-width: 61.99875em) {
  .collections-section__content {
    padding-top: 3.125rem;
    padding-bottom: 5rem;
  }
}
@media (max-width: 47.99875em) {
  .collections-section__content {
    padding-top: 1.875rem;
    padding-bottom: 2.5rem;
  }
}
@media (max-width: 29.99875em) {
  .collections-section__content {
    padding-top: 0.3125rem;
    padding-bottom: 2.5rem;
  }
}
.collections-section__title {
  font-weight: 300;
  line-height: 0.743243; /* 55/74 */
}
@media (min-width: 84.375em) {
  .collections-section__title {
    font-size: 4.625rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (font-size: clamp( 3.125rem , 2.6589805825rem  +  2.3300970874vw , 4.625rem )) {
    .collections-section__title {
      font-size: clamp( 3.125rem , 2.6589805825rem  +  2.3300970874vw , 4.625rem );
    }
  }
  @supports not (font-size: clamp( 3.125rem , 2.6589805825rem  +  2.3300970874vw , 4.625rem )) {
    .collections-section__title {
      font-size: calc(3.125rem + 1.5 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .collections-section__title {
    font-size: 3.125rem;
  }
}
.collections-section__title:not(:last-child) {
  margin-bottom: 3.25rem;
}
@media (max-width: 61.99875em) {
  .collections-section__title:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 29.99875em) {
  .collections-section__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.collections-section__text {
  line-height: 1.833333; /* 55/30 */
}
@media (min-width: 84.375em) {
  .collections-section__text {
    font-size: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (font-size: clamp( 1.5rem , 1.3834951456rem  +  0.5825242718vw , 1.875rem )) {
    .collections-section__text {
      font-size: clamp( 1.5rem , 1.3834951456rem  +  0.5825242718vw , 1.875rem );
    }
  }
  @supports not (font-size: clamp( 1.5rem , 1.3834951456rem  +  0.5825242718vw , 1.875rem )) {
    .collections-section__text {
      font-size: calc(1.5rem + 0.375 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .collections-section__text {
    font-size: 1.5rem;
  }
}
.collections-section__text:not(:last-child) {
  margin-bottom: 4.125rem;
}
@media (max-width: 61.99875em) {
  .collections-section__text:not(:last-child) {
    margin-bottom: 2.1875rem;
    line-height: 1.7;
  }
}
@media (max-width: 29.99875em) {
  .collections-section__text:not(:last-child) {
    margin-bottom: 1.25rem;
    line-height: 1.5;
  }
}
@media (max-width: 47.99875em) {
  .collections-section__text:not(:last-child) {
    line-height: 1.5;
  }
}
.collections-section__button {
  padding: 1.1875rem 1.625rem;
  gap: 0.5rem;
}
@media (min-width: 84.375em) {
  .collections-section__button {
    font-size: 1.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (font-size: clamp( 1.125rem , 0.911407767rem  +  1.067961165vw , 1.8125rem )) {
    .collections-section__button {
      font-size: clamp( 1.125rem , 0.911407767rem  +  1.067961165vw , 1.8125rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 0.911407767rem  +  1.067961165vw , 1.8125rem )) {
    .collections-section__button {
      font-size: calc(1.125rem + 0.6875 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .collections-section__button {
    font-size: 1.125rem;
  }
}
@media (max-width: 47.99875em) {
  .collections-section__button {
    width: 100%;
  }
}
@media (max-width: 29.99875em) {
  .collections-section__button {
    padding: 0.875rem 1.625rem;
  }
}
.collections-section ._icon-bag {
  font-size: 1.5rem;
}
.collections-section__column-image {
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 26.5rem;
          flex: 0 1 26.5rem;
  max-width: 26.5rem;
  padding: 1.25rem 0 0 1.125rem;
  margin: 0 auto;
}
.collections-section__image-wrapper {
  border: 0.125rem solid rgba(0, 0, 0, 0.25);
  border-radius: 10rem 0;
  padding-bottom: 1.25rem;
}
.collections-section__image-wrapper img {
  width: 100%;
  aspect-ratio: 424/542;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10rem 0;
  margin: -1.25rem 0 0 -1.125rem;
}
.collections-section__frame-left {
  position: absolute;
  bottom: 4.978663%; /* 35/703 */
  left: 1.510417%; /* 29/1920 */
  width: 6.875%; /* 132/1920 */
  height: 24.893314%; /* 175/703 */
  aspect-ratio: 15/29;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
.collections-section__frame-right {
  position: absolute;
  bottom: 26.742532%; /* 188/703 */
  right: -1.71875%; /* 33/1920 */
  width: 10.15625%; /* 195/1920 */
  height: 37.268848%; /* 262/703 */
  aspect-ratio: 195/262;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
  overflow: visible;
}

.brand-section {
  font-weight: 600;
  text-transform: capitalize;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (min-width: 84.375em) {
  .brand-section__container {
    margin-bottom: 5.625rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (margin-bottom: clamp( 2.1875rem , 1.119538835rem  +  5.3398058252vw , 5.625rem )) {
    .brand-section__container {
      margin-bottom: clamp( 2.1875rem , 1.119538835rem  +  5.3398058252vw , 5.625rem );
    }
  }
  @supports not (margin-bottom: clamp( 2.1875rem , 1.119538835rem  +  5.3398058252vw , 5.625rem )) {
    .brand-section__container {
      margin-bottom: calc(2.1875rem + 3.4375 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .brand-section__container {
    margin-bottom: 2.1875rem;
  }
}
.brand-section__body {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}
.brand-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 0.625rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 47.99875em) {
  .brand-section__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (max-width: 41.875em) {
  .brand-section__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 28.0625em) {
  .brand-section__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.brand-section__item {
  max-height: 4.375rem;
  max-width: 12.5rem;
  width: 100%;
  cursor: pointer;
}
.brand-section__item img {
  width: 100%;
  height: 100%;
  aspect-ratio: 200/70;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 41.875em) {
  .brand-section__item img {
    max-height: 3.125rem;
  }
}
@media (max-width: 21.25em) {
  .brand-section__item img {
    max-height: 2.5rem;
  }
}
.catalog-brand__container {
  position: relative;
}
@media (max-width: 88.75em) {
  .catalog-brand__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
  }
}
.catalog-brand__title {
  font-family: "Roboto", sans-serif;
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 400;
}
@media (max-width: 40.625em) {
  .catalog-brand__title {
    font-size: 1.875rem;
  }
}
@media (max-width: 25em) {
  .catalog-brand__title {
    font-size: 1.625rem;
  }
}
@media (min-width: 88.75em) {
  .catalog-brand__title {
    position: absolute;
    top: 0;
    left: -2%; /* 52/1350 */
    z-index: 3;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}
.catalog-brand__images {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
}
.catalog-brand__box {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
@media (min-width: 34.375em) {
  .catalog-brand__box:nth-child(10n+1), .catalog-brand__box:nth-child(10n+8) {
    grid-column: span 2;
    grid-row: span 2;
  }
  .catalog-brand__box:only-child {
    grid-column: span 4;
    grid-row: span 4;
  }
}
@media (any-hover: hover) {
  .catalog-brand__box:hover .catalog-brand__info {
    opacity: 1;
    visibility: visible;
  }
}
.catalog-brand__item img {
  width: 100%;
  aspect-ratio: 312/312;
  -o-object-fit: cover;
     object-fit: cover;
}
.catalog-brand__offers {
  position: absolute;
  top: 7.051282%; /* 22/312 */
  left: 0;
}
.catalog-brand__info {
  position: absolute;
  bottom: 0;
  left: 0;
}

.newsletter-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2.1875rem;
}
.newsletter-section__title {
  -ms-flex-item-align: center;
      align-self: center;
}
.newsletter-section__items {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
}
.zara-section {
  min-height: 100vh;
  position: relative;
}
.zara-section__container {
  padding-top: 14.5625rem;
  padding-bottom: 5.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.zara-section__content {
  position: relative;
  z-index: 3;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  -ms-flex-preferred-size: 31.5rem;
      flex-basis: 31.5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 31.5rem;
  row-gap: 3.4375rem;
}
@media (max-width: 47.99875em) {
  .zara-section__content {
    row-gap: 2.1875rem;
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
}
@media (max-width: 29.99875em) {
  .zara-section__content {
    row-gap: 1.25rem;
  }
}
.zara-section__lable img {
  width: 100%;
  aspect-ratio: 191/81;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 47.99875em) {
  .zara-section__lable img {
    width: 80%;
  }
}
@media (max-width: 29.99875em) {
  .zara-section__lable img {
    width: 60%;
  }
}
.zara-section__text {
  font-size: 1.625rem;
  line-height: 1.738462; /* 40/26 */
  color: var(--whiteColor);
}
@media (max-width: 47.99875em) {
  .zara-section__text {
    font-size: 1.375rem;
  }
}
@media (max-width: 29.99875em) {
  .zara-section__text {
    font-size: 1.125rem;
  }
}
.zara-section__button--white {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.1875rem 1.625rem;
  background-color: var(--whiteColor);
  color: var(--blackColor);
  font-size: 1.8125rem;
}
@media (max-width: 47.99875em) {
  .zara-section__button--white {
    font-size: 1.375rem;
    padding: 0.875rem 1.625rem;
  }
}
@media (max-width: 47.99875em) {
  .zara-section__button {
    width: 100%;
  }
}
.zara-section__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.zara-section__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 47.99875em) {
  .zara-section__image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.836);
    opacity: 0.7;
    z-index: 2;
  }
}
.zara-section__bg-image {
  position: absolute;
  right: -2.916667%; /* 56/1920 */
  top: 6.572165%; /* 51/776 */
  width: 38.125%; /* 732/1920 */
  height: 39.819588%; /* 309/776 */
  z-index: 2;
}
.zara-section__bg-image img {
  width: 100%;
  aspect-ratio: 732/309;
  -o-object-fit: cover;
     object-fit: cover;
}

.sellers-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2.1875rem;
}
.sellers-section__title {
  -ms-flex-item-align: center;
      align-self: center;
}
.sellers-section__products {
  overflow: hidden;
}
.sellers-section__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  overflow-x: auto;
  overflow-y: clip;
}
.sellers-section__column {
  -ms-flex-preferred-size: 19.5rem;
      flex-basis: 19.5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.tracking-section {
  background-color: var(--bgColor);
}
.tracking-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 84.375em) {
  .tracking-section__container {
    padding-top: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (padding-top: clamp( 2.5rem , 1.3349514563rem  +  5.8252427184vw , 6.25rem )) {
    .tracking-section__container {
      padding-top: clamp( 2.5rem , 1.3349514563rem  +  5.8252427184vw , 6.25rem );
    }
  }
  @supports not (padding-top: clamp( 2.5rem , 1.3349514563rem  +  5.8252427184vw , 6.25rem )) {
    .tracking-section__container {
      padding-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .tracking-section__container {
    padding-top: 2.5rem;
  }
}
@media (min-width: 84.375em) {
  .tracking-section__container {
    padding-bottom: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (padding-bottom: clamp( 2.5rem , 1.3349514563rem  +  5.8252427184vw , 6.25rem )) {
    .tracking-section__container {
      padding-bottom: clamp( 2.5rem , 1.3349514563rem  +  5.8252427184vw , 6.25rem );
    }
  }
  @supports not (padding-bottom: clamp( 2.5rem , 1.3349514563rem  +  5.8252427184vw , 6.25rem )) {
    .tracking-section__container {
      padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .tracking-section__container {
    padding-bottom: 2.5rem;
  }
}
@media (min-width: 84.375em) {
  .tracking-section__container {
    row-gap: 4.375rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (row-gap: clamp( 2.5rem , 1.9174757282rem  +  2.9126213592vw , 4.375rem )) {
    .tracking-section__container {
      row-gap: clamp( 2.5rem , 1.9174757282rem  +  2.9126213592vw , 4.375rem );
    }
  }
  @supports not (row-gap: clamp( 2.5rem , 1.9174757282rem  +  2.9126213592vw , 4.375rem )) {
    .tracking-section__container {
      row-gap: calc(2.5rem + 1.875 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .tracking-section__container {
    row-gap: 2.5rem;
  }
}
.tracking-section__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 84.375em) {
  .tracking-section__subscribe {
    row-gap: 4.625rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (row-gap: clamp( 1.875rem , 1.020631068rem  +  4.2718446602vw , 4.625rem )) {
    .tracking-section__subscribe {
      row-gap: clamp( 1.875rem , 1.020631068rem  +  4.2718446602vw , 4.625rem );
    }
  }
  @supports not (row-gap: clamp( 1.875rem , 1.020631068rem  +  4.2718446602vw , 4.625rem )) {
    .tracking-section__subscribe {
      row-gap: calc(1.875rem + 2.75 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .tracking-section__subscribe {
    row-gap: 1.875rem;
  }
}
.tracking-section__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.625rem;
     -moz-column-gap: 1.625rem;
          column-gap: 1.625rem;
}
.tracking-section__email {
  padding-bottom: 0.8125rem;
  padding-left: 0.9375rem;
  border-bottom: 0.125rem solid var(--mainColor);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  outline: none;
}
.tracking-section__email::-webkit-input-placeholder {
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  color: var(--blackColor50);
}
.tracking-section__email::-moz-placeholder {
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  color: var(--blackColor50);
}
.tracking-section__email:-ms-input-placeholder {
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  color: var(--blackColor50);
}
.tracking-section__email::-ms-input-placeholder {
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  color: var(--blackColor50);
}
.tracking-section__email::placeholder {
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  color: var(--blackColor50);
}
@media (any-hover: hover) {
  .tracking-section__email:hover {
    border-bottom: 0.125rem solid var(--primaryColor);
  }
}
.tracking-section__email:focus {
  border-bottom: 0.125rem solid var(--primaryColor);
}
.tracking-section__submit {
  -ms-flex-preferred-size: 5.6875rem;
      flex-basis: 5.6875rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.625rem;
  border-bottom: 0.125rem solid var(--mainColor);
  color: var(--blackColor);
  text-transform: uppercase;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  outline: none;
}
@media (any-hover: hover) {
  .tracking-section__submit:hover {
    color: var(--primaryColor);
    border-bottom: 0.125rem solid var(--primaryColor);
  }
}
@media (any-hover: none) {
  .tracking-section__submit:hover {
    color: var(--primaryColor);
    border-bottom: 0.125rem solid var(--primaryColor);
  }
}
.tracking-section__submit:focus {
  border-bottom: 0.125rem solid var(--primaryColor);
}
@media (max-width: 29.99875em) {
  .tracking-section__submit {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
.instagram-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
@media (min-width: 84.375em) {
  .instagram-pages {
    row-gap: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (row-gap: clamp( 1.875rem , 1.2924757282rem  +  2.9126213592vw , 3.75rem )) {
    .instagram-pages {
      row-gap: clamp( 1.875rem , 1.2924757282rem  +  2.9126213592vw , 3.75rem );
    }
  }
  @supports not (row-gap: clamp( 1.875rem , 1.2924757282rem  +  2.9126213592vw , 3.75rem )) {
    .instagram-pages {
      row-gap: calc(1.875rem + 1.875 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .instagram-pages {
    row-gap: 1.875rem;
  }
}
.instagram-pages__title {
  -ms-flex-item-align: center;
      align-self: center;
}
.item-instagram {
  overflow-x: auto;
  overflow-y: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}
.item-instagram__link {
  -ms-flex-preferred-size: 12.5rem;
      flex-basis: 12.5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.item-instagram__link img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (any-hover: hover) {
  .item-instagram__link:hover::before {
    content: "";
    background-color: var(--blackColor);
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .item-instagram__link:hover::after {
    position: absolute;
    top: calc(50% - 24px);
    left: calc(50% - 24px);
    content: "";
    background: url("../img/main/tracking/instagram_icon.svg") 0 0/48px no-repeat;
    width: 3rem;
    height: 3rem;
    z-index: 2;
  }
}

.footer__bottom {
  background-color: var(--blackColor);
}

.main-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 3.4375rem;
     -moz-column-gap: 3.4375rem;
          column-gap: 3.4375rem;
  row-gap: 2.5rem;
}
@media (min-width: 84.375em) {
  .main-footer__container {
    padding-bottom: 5.625rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (padding-bottom: clamp( 1.875rem , 0.7099514563rem  +  5.8252427184vw , 5.625rem )) {
    .main-footer__container {
      padding-bottom: clamp( 1.875rem , 0.7099514563rem  +  5.8252427184vw , 5.625rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.875rem , 0.7099514563rem  +  5.8252427184vw , 5.625rem )) {
    .main-footer__container {
      padding-bottom: calc(1.875rem + 3.75 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .main-footer__container {
    padding-bottom: 1.875rem;
  }
}
.main-footer__label {
  -ms-flex-preferred-size: 24.5rem;
      flex-basis: 24.5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 27.5em) {
  .main-footer__label {
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
}
.main-footer__articals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 1.875rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 69.8125em) {
  .main-footer__articals {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.label-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2rem;
}
@media (max-width: 47.99875em) {
  .label-main {
    row-gap: 1.0625rem;
  }
}
.label-main__text {
  text-transform: capitalize;
  color: rgba(30, 40, 50, 0.75);
  line-height: 1.9375; /* 31/16 */
}
.label-main__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.25rem;
     -moz-column-gap: 2.25rem;
          column-gap: 2.25rem;
}
@media (max-width: 47.99875em) {
  .label-main__social {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}
.label-main__item:hover .label-main__link {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
  color: var(--primaryColor);
}
.label-main__link {
  font-size: 1.25rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.artical-main {
  -ms-flex-preferred-size: 12.5rem;
      flex-basis: 12.5rem;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  min-width: 12.5rem;
}
.artical-main__subtitle {
  font-weight: 600;
  text-transform: uppercase;
}
.artical-main__subtitle:not(:last-child) {
  margin-bottom: 1.375rem;
}
@media (max-width: 42.5em) {
  .artical-main__subtitle:not(:last-child) {
    margin-bottom: 1rem;
  }
}
@media (max-width: 29.99875em) {
  .artical-main__subtitle:not(:last-child) {
    margin-bottom: 0.625rem;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    min-width: 13.75rem;
    font-size: 1.25rem;
  }
}
.artical-main__item:not(:last-child) {
  margin-bottom: 0.75rem;
}
@media (max-width: 42.5em) {
  .artical-main__item:not(:last-child) {
    margin-bottom: 0.3125rem;
  }
}
.artical-main__item:hover .artical-main__link {
  color: var(--primaryColor);
}
.artical-main__link {
  text-transform: capitalize;
  line-height: 1.714286; /* 24/14 */
  color: var(--blackColor);
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.bottom-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 3.125rem;
     -moz-column-gap: 3.125rem;
          column-gap: 3.125rem;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  color: var(--whiteColor);
  text-transform: capitalize;
}
@media (max-width: 47.99875em) {
  .bottom-footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
  }
}
.bottom-footer__scroll {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.bottom-footer__scroll span::before {
  font-size: 0.875rem;
  font-weight: 900;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bottom-footer__scroll:hover {
  color: var(--primaryColor);
}