@use "sass:math";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600&display=swap");

// Локальне підключення шрифтів
//@import "_fonts.scss";
// Скидання стилів
@import "_reset.scss";
// Міксіни
@import "_mixins.scss";
// Окремі сторінки
// @import "_home.scss";
// Окремі компоненти
// @import "_header.scss";
// @import "_footer.scss";
// ...@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
// Іконочний шрифт
//@import "_iconfonts.scss";
// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================
// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1320;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// ==========================================================
:root {
  --mainColor: #000000;
  --blackColor: #1e2832;
  --whiteColor: #ffffff;
  --primaryColor: #ff6f61;
  --bgColor: rgba(30, 40, 50, 0.05);
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: toRem(16);
  color: var(--mainColor);

  .menu-open & {
    overflow: hidden;
  }
}
.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--whiteColor);

  & > main {
    flex-grow: 1;
  }
}

[class*="__container"] {
  max-width: 1350px; //! Oбмежуючий контейнер+відступи
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
//========Загальні стилі==========//
.menu {
  // .menu__body
  &__body {
    padding-left: toRem(15);
    padding-right: toRem(15);
    padding-bottom: toRem(20);
  }

  // .menu__list
  &__list {
    display: flex;
    align-items: center;
    gap: toRem(20);
    justify-content: space-between;
    flex-wrap: wrap;
  }

  // .menu__item
  &__item {
    transition: all 0.4s;
    color: #ff6f61;
    font-size: toRem(20);
  }

  // .menu__link
  &__link {
    @media (any-hover: hover) {
      &:hover {
        color: rgb(225, 29, 29);
        text-decoration: underline;
      }
    }
    @media (any-hover: none) {
      &:hover {
        color: rgb(29, 241, 29);
        text-decoration: underline;
      }
    }
  }
}
//========Header==========//
.header {
  background-color: var(--blackColor);

  // .header__container

  &__container {
    padding-top: toRem(5);
    padding-bottom: toRem(5);
  }

  // .header__text

  &__text {
    font-size: toRem(30);
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    padding-top: toRem(20);
    padding-bottom: toRem(20);
  }
}

//========Main-page==========//
.page {
  // .page__container

  &__container {
    padding-top: toRem(30);
    padding-bottom: toRem(50);
    // display: flex;
    // justify-content: center;
    // flex-direction: column;
    // row-gap: toRem(40);
  }

  // .page__title

  &__title {
    display: inline-block;
    align-items: center;
    font-size: toRem(28);
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: toRem(40);
  }

  // .page__item

  &__item {
    display: flex;
    flex-direction: column;
    // gap: toRem(10);
    font-weight: 500;
    font-size: toRem(18);
    color: var(--primaryColor);
    margin-bottom: toRem(20);
    // &:last-child {
    //   margin-bottom: toRem(30);
    // }
  }
}
.button {
  background-color: #ffffff;
  padding: toRem(10) toRem(20);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1e2832;
  font-size: toRem(22);
  font-weight: 600;
  max-width: toRem(150);
  border-radius: toRem(5);
  border: 1px solid var(--primaryColor);
  background-color: #0c6876;
  color: var(--primaryColor);
  // .button--margin

  &--margin {
    margin-top: toRem(20);
    margin-bottom: toRem(20);
  }
  &__block {
  }
}
.some-image {
  max-width: 50%;
  aspect-ratio: 500 / 350;
  object-fit: cover;
  float: left;
  padding-right: toRem(10);
}
.link {
  text-decoration: underline;
}

//----Footer------//
.footer {
  background-color: var(--blackColor);

  // .footer__container

  &__container {
    padding-top: toRem(5);
    padding-bottom: toRem(5);
  }

  // .footer__text

  &__text {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    padding-top: toRem(20);
    padding-bottom: toRem(20);
  }
}

//============================
