
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand:500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Orbitron:500&display=swap");

/* Підключення шрифтів локально */
@import url('fonts.css');

/* Обнулення */
@import url('reset.css');

 /*============================*/
body {
  font-family: "Times New Roman";
  font-size: 16px;
}

/*-----Header ----*/
.header {
  background: rgba(0, 0, 0, 0.10);
  padding: 20px 0;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
  color: #6563FF;
  text-align: center;
  text-shadow: 2px 5px 10px #6563FF;
}

/*--------Page--------*/
.page { 
  margin: 0 auto;
  padding: 20px;
}

/*==========Домашнє завдання==============*/

/*-------Section about---------------*/
.about-me {
  background-color: #000;  
  padding-top: 120px;
  padding-bottom: 60px;
  color: #fff;
}
.about-me__body {
  margin: 0 auto;
}
.about-me__content {
  margin: 0 auto 60px auto;
  max-width: 995px;
  font-family: "Exo",sans-serif;
  text-align: center;
}
.about-me__title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.16; /* 70/60 */
  text-transform: uppercase;
}
.about-me__title:not(:last-child){
  margin-bottom: 20px;
}
.about-me__title::after {
  content: '';
  display: block;
  margin: 20px auto 0 auto;
  height: 1px;
  max-width: 40%;
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(66,255,0,1) 47%, rgba(36,0,255,1) 100%);
}
.about-me__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 2.22; /* 40/18 */
}
.about-me__text:not(:last-child){
  margin-bottom: 60px;
}
.about-me__list {
  max-width: 1150px;
  margin: 0 auto;
}
.about-me__item {
  display: inline-block;
}
.about-me__list .about-me__link {
  text-align: center;
  color: #fff;
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.25;
  text-transform: capitalize;
  transition: text-decoration 0.3s;
}

.about-me__list .about-me__link:hover {
  text-decoration: underline;
}
.about-me__item:not(:first-of-type){
  margin-left: 55px;
}
.about-me__item::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 55px;
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(66,255,0,1) 47%, rgba(36,0,255,1) 100%);
}

/*--------Section consult-------------*/
.consult {
  background: #000; 
  padding-top: 160px;
  padding-bottom: 111px;
  font-family: "Exo", sans-serif;
  color: #fff;
}
.consult__body {
  margin: 0 auto;
  max-width: 957px;
  text-align: center;
 }
.consult__title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.16; /* 70/60 */
  text-transform: uppercase;
  margin-bottom: 160px;
}
.consult__title:after {
  content: '';
  display: block;
  margin: 20px auto 0 auto;
  height: 1px;
  max-width: 100%;
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(66,255,0,1) 47%, rgba(36,0,255,1) 100%);
}
.consult__contacts { 
  max-width: 957px;
  font-size: 20px;
  letter-spacing: -1px;
}
.consult__contacts a:hover {
  text-decoration: underline;
  transition: text-decoration 0.3s;
}
.consult__link{
  display: inline-block;
}
.consult__link:first-child::before { 
  content: '';
  background: url('../img/consult/icon_phone.svg') 0 0 no-repeat;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 20px;
}
.consult__link:nth-child(2)::before { 
  content: '';
  background: url('../img/consult/icon_geo.svg') 0 0 no-repeat;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 20px;
}
.consult__link:nth-child(3)::before { 
  content: '';
  background: url('../img/consult/icon_envelope.svg') 0 0 no-repeat;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 20px;
}
 .consult__link:not(:last-child){
   margin-right: 80px; 
}

/*--------Section furnitures-------------*/
.furnitures {
  background-color: #F8F8F8;
  color: #2b2929;
  line-height: 1.875;
  padding-top: 74px;
  padding-bottom: 150px;
}
.furnitures__contanier {
  margin: 0 auto;
  max-width: 1070px;
  padding-left: 15px;
  padding-right: 15px;
}
.furnitures__top {
  margin-bottom: 40px;
}
.top-furnitures {
}
.top-furnitures__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
}
.top-furnitures__title:not(:last-child){
  margin-bottom: 40px;
}
.top-furnitures__image {
  max-width: 100%;
  border-radius: 8px;
}
.top-furnitures__image:not(:last-child){
  margin-bottom: 40px;
}
.top-furnitures__text p:not(:last-child) {
  margin-bottom: 20px;
}
.furnitures__bottom {
}
.bottom-furnitures {
}
.bottom-furnitures__subtitle {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 600;
  margin-bottom: 30px;
}
.bottom-furnitures__subtitle:not(:last-child){
  margin-bottom: 30px;
}

.bottom-furnitures__list {  
  margin-bottom: 40px; 
}
.bottom-furnitures__item {
  min-height: 39px;
  padding-left: 47px;
  background: url('../img/image.svg') 0 7px / 32px no-repeat;
}

.bottom-furnitures__item:not(:last-child) {
  margin-bottom: 20px;
}
/*---------------------*/
.link {  
  font-size: 16px;
  font-weight: 700;
  line-height: 1.56; /* 25/16 */
  text-transform: capitalize;
  min-height: 25px;
  color: #fff;
  background-color: #8B3DFF;
  border-radius: 8px;
  padding: 12px 20px;
} 
.link span {
  display: inline-block;
  background: url('../img/icon_heart.svg') 0 0 no-repeat; 
  padding-left: 34px;
}

.link:hover {
  background-color: #a875ff;
} 

.link:active {
  background-color: #7921ed;
}

.link:focus{
  outline: 1px solid red;
}

.link a:visited {
  color: black;
}

.block {
  background-color: #3b3737d4;
  border: 2px solid green;
  border-radius: 10px;
  padding: 15px;
  max-width: 500px;
  margin: 0 auto;
}

.block .link {
  background: linear-gradient(160deg, rgba(21,13,171,1) 0%, rgba(41,150,168,1) 41%, rgba(39,255,0,1) 100%);
  border: 1px solid rgb(255, 72, 0);
  color: white;
  font-size: 20px;  
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 2px;
  transition: all 0.3s;
}
.block-text{
  display: none;
  margin-top: 15px;
  padding: 20px;
  background-color: #85b991;
  border: 2px solid #05ed30;
  text-decoration: line-through;
}

.block-text mark {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
}

.block-text .link-nasa {
  text-decoration: underline;
  color: red;
}

.block:hover .link {
  background: linear-gradient(221deg, rgba(227,28,62,1) 0%, rgba(29,253,77,1) 59%, rgba(90,69,252,1) 100%);
}

.block:hover .block-text {
  display: block;
}

.button-link{
  margin: 0 auto;
  padding: 12px 15px;
  border: 1px solid #0be946;
  border-radius: 10px;
  line-height: 1.4;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  box-shadow: -3px -3px 18px #074d19;
}

.button-link:hover{
  text-decoration: underline;
  box-shadow: 3px 3px 12px #074d19;
}

/*----------Text block---------------*/

.text {
  padding: 20px 0;
  margin: 0 auto;
  max-width: 700px;
}
.text p {
  margin-bottom: 15px;
}

.text span {
  display: inline-block;
  margin-bottom: 15px;
  background-color: rgb(98, 194, 98);
}

.text p:first-of-type{
  background-color: rgb(163, 94, 163);
}

.text p:last-child {
  color: red;
 text-transform: capitalize;
 text-decoration: underline;
}

.text p:last-of-type{
  background-color: yellowgreen;
}

.text p:nth-child(odd){
  text-transform: uppercase;
}

/*----------Title block---------------*/
.title {
  display: none;
  font-family: "Merriweather",serif;
  line-height: 1.1; /* 66/60 */
  font-size: 60px;
  text-transform: uppercase;
  color: #313131;
  max-width: 555px;
  margin: 0 auto;
}

.title:target{
  display: block;
}

.title p:first-of-type{
 color: red;
 text-align: center;
}

.title p:last-of-type{
  color: red;
  text-align: end;
 }

/*--------------------*/
.text-block p:not(:last-child) {
  margin-bottom: 15px;
}

.text-block:not(:last-child) {
  margin-bottom: 25px;
}

.block-list .element-link{
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  color: rgb(26, 230, 23);
  max-width: 500px;
}
.element {

}

.element:not(:last-child){
  margin-bottom: 5px;
}

.element::before{
  content:'';
  background: url('../img/arrow_circle_up.svg') 0 center / 100% no-repeat;
  width: 30px;
  height: 30px;
  vertical-align: top;
  margin-right: 5px;
}
.element:hover::before{
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.element::after{
  content:'';
  background: url('../img/arrow_red.svg') 0 center / 100% no-repeat;
  width: 40px;
  height: 40px;
  vertical-align: top;
}
.element:hover::after{
  transform: rotate(90deg);
  transition: transform 0.5s;
}

.block-sub {
  background-color: #000;
  max-width: 559px;
  padding: 60px 40px;
  margin: 0 auto;
  border-radius: 8px;
}
.subtitle {
  padding: 0 15px;
  font-family: 'Exo', sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.16; /* 70/60 */
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  
}

.subtitle::after{
  content: '';
  margin-top: 20px;
  display: block; 
  max-width: 100%;
  height: 1px;
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(66,255,0,1) 47%, rgba(36,0,255,1) 100%);
}

/*--------Article block----------*/
.article > * {
  margin-bottom: 10px;
}
.article {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px 15px;
  margin-bottom: 15px;
}
.title-article {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  color: red;
  letter-spacing: 5px;
  line-height: 1.2;
  margin-bottom: 25px;
}

/* .title-article:not(:last-child){
  margin-bottom: 25px;
} */
.content {
  font-size: 20px;
  margin-bottom: 10px;
}
/* .content:not(:last-child){
  margin-bottom: 10px;
} */
.article-button {
  font-size: 18px;
  font-weight: 500;
  background-color: yellow;
  border: 1px solid rgb(255, 145, 0);
  padding: 12px 25px;
  border-radius: 10px;
  transition: all 0.3s;
  /* margin-bottom: 10px; */
}

.article-button:hover{
  background-color: rgb(210, 210, 7);
  border: 1px solid #000;
}

/* .article-button:not(:last-child){
  margin-bottom: 10px;
} */

.article > *:last-child {
  margin-bottom: 0;
}

/*--------Footer --------*/
.footer {
  background: rgba(0, 0, 0, 0.1);
  padding: 20px; 
}
.footer h4 {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
  color: #6563FF;
  text-align: center;
}
.footer-list {
  padding: 20px 0;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 20px;
}
.footer-item {  
}
.footer-link {
  width: 50px;
  height: 50px;
}
