@import url("https://fonts.googleapis.com/css?family=Quicksand:500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600&display=swap");


@import url('reset.css');

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  background-color: #c8c4c4;
}

.wrapper {
  position: relative;
  overflow: clip;
  min-height: 100%; 
}

.header {
  background: rgba(0, 0, 0, 0.10);
  padding: 20px 0;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
  color: #211def;
  text-align: center;
  text-shadow: 2px 5px 10px #6563FF;
}


/*-----------Header-practice №1 --------------*/
/* .header {
  font-family: "Inter", serif; 
  padding: 25px;
  background: linear-gradient(180deg, rgba(64,60,140,1) 0%, rgba(9,121,114,1) 52%, rgba(0,212,255,1) 100%);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
}
.header__menu {
}
.menu {
  text-align: center;
  font-weight: 600;
}
.menu__list {
  font-size: 0;
}
.menu__item {
  position: relative;
  display: inline-block;
  font-size: 30px;
  text-transform: uppercase;
  transition: all 0.3s;
}
.menu__item:not(:last-child) {  
  margin-right: 30px;
}
.menu__link {
  padding: 5px 0;
  line-height: 1.2;
  transition: all 0.3s;
}
.menu__link:hover{
  color: rgb(215, 44, 44);
  text-decoration: underline;
}
.menu__menu-sub {
  position: absolute;
  top: 40px;
  left: 0;
}
.sub-menu { 
  min-width: 200px;
  font-size: 15px;
  text-align: left;
  padding: 15px 25px;  
  color: #fff;
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); 
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
}
.sub-menu:before{
  content: '';
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: rgb(212, 166, 255);
}
.menu__item:hover .sub-menu {
  opacity: 1;
  visibility: visible;
}
.sub-menu__item {
}
.sub-menu__item:not(:last-child){
  margin-bottom: 20px;
}
.sub-menu__link {
}
.sub-menu__link:hover{
  margin-left: 5px;
  text-decoration: underline;
  color: black;
  background-color: #2AA5A0;
  background-image: linear-gradient(90deg, #E3535D, #2AA5A0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

/*-----------Header-practice №2 --------------*/

.block {
  display: inline-block;
  transition: all 0.3s;
}
.button {
  /* display: inline-block; */
  padding: 15px 30px;
  background-color: red;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  border-radius: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: white;
  box-shadow: 5px 5px 12px #5b0404;
  transition: text-decoration 0.3s;
}
.button:hover {
  text-decoration: underline;
  background-color: rgb(228, 7, 7);
}
.header-menu {
  display: none;
  text-align: left;
  padding: 25px;
  max-width: 250px;
  background-color: rgb(209, 183, 11);
  color: white;
  transition: all 0.3s;
}
.block:hover .header-menu{  
  display: block;
}
.menu { 
  font-weight: 600;
}
.menu__list {
  
}
.menu__item {
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
}
.menu__item:not(:last-child){
  margin-bottom: 15px;
}
.menu__link {
  text-shadow: 5px 5px 10px #000;
  transition: all 0.3s;
}
.menu__link:hover {
  text-decoration: underline;
  margin-left: 5px;
}
.sub-menu {
  padding: 15px ;
  min-width: 200px;
  border-radius: 5px;
  position: absolute;
  top: 0px;
  left: 200px; 
  z-index: 20; 
  background-color: yellowgreen;
  transition: all 0.5s;

  visibility: hidden;
  opacity: 0;
}
.sub-menu::after{
  content: '';
  position: absolute;
  top: 0;
  right: 100%;
  width: 100%;
  height: 60px;
  
  /* background-color: #fff; */
}
.menu__item:hover .sub-menu {
  visibility: visible;
  opacity: 1;
}
.sub-menu__item {
  font-size: 20px;
}
.sub-menu__item:not(:last-child){
  margin-bottom: 10px;
}
.sub-menu__link {
}

.sub-menu__link:hover {
  text-decoration: underline;
  margin-left: 3px;
  text-shadow: 5px 5px 10px #514e4ee2;
}

/*==========Homework №1===============*/
h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 50px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 3px;
  color: #211def;
  text-align: center;
  text-shadow: 2px 5px 10px #2522e8;
  margin-bottom: 20px;
}
.furniture-cards { 
}
.furniture-card {  
  position: relative;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 20px;
  line-height: 1.40; /* 28/20 */
  max-width: 250px;
}
.furniture-card--margin {
  margin-left: 20px;
  margin-bottom: 20px;
  display: inline-block;
}
.furniture-card__image { 
  position: relative;
  top: 0px;
  left: 0px;
  display: inline-block;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 4px 4px 15px 0 rgba(0, 0, 0, 0.06);
}
.furniture-card__image-link {
}
.furniture-card__type {
  position: absolute;
  top: 20px;
  left: 20px;
  display: inline-block;
  margin-right: 130px;
  color: #2B2929;
  text-align: left;
  font-weight: 600;
  transition: color 0.3s;
}
.furniture-card__type:hover {
  color: #FFBC57;
}
.furniture-card__number {
  position: absolute;
  top: 20px;
  right: 20px;
  display: inline-block;
  color: #B1B1B1;
  transition: all 0.3s;
}
.furniture-card__number:hover {
  text-decoration: underline;
  color: red;
}
.furniture-card__catalogs {
  position: absolute;
  top: 20px;
  left: 20px;
}
.furniture-card__catalog {
}
.furniture-card__arrow {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.furniture-card__link {
  transition: all 0.3s;
}
.furniture-card__link:hover {
  transform:scale(1.1);
  /* margin-bottom: 5px; */
  border-radius: 50%;
  background-color: rgba(250, 242, 242, 0.842);
}
/*==========Homework #2===============*/

.block-catalog {
  display: inline-block;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 20px;
  color: #2B2929;
  line-height: 2.10; /* 40/19 */
}

.block-catalog:hover .catalog-menu {
  display: block;
}
.button-catalog {
  padding: 11px 20px;
  border-radius: 8px;
  background-color: #ffbc57;
  color: #fff;
  font-size: 19px;
  line-height: 1.26; /* 24/19 */
  text-align: center;
  margin-bottom: 37px;
}
.button-catalog::before {
  display: inline-block;
  content: '';
  background: url('../img/catalog/icon.svg') 0 0 no-repeat;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 10px;
}
.button-catalog:hover {
  background-color: #f7ac3d;
}

.menu-catalog { 
}
.catalog-menu {
  display: none;
  margin-bottom: 30px;
  position: relative;
  background-color: #fff;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  max-width: 300px;
}
.catalog-menu__list {
 padding: 8px 0;
}
.catalog-menu__item {
  display: block;
  font-weight: 600;
  max-width: 300px;
  padding: 10px 0px 10px 30px;
  border-right: 5px solid #ffbc57;
}
.catalog-menu__item:nth-child(1)::before{
  display: inline-block;
  content: '';
  background: url('../img/catalog/01.svg') 0 0 no-repeat;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  vertical-align: middle;
}
.catalog-menu__item:nth-child(2)::before{
  display: inline-block;
  content: '';
  background: url('../img/catalog/02.svg') 0 0 no-repeat;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  vertical-align: middle;
}
.catalog-menu__item:nth-child(3)::before{
  display: inline-block;
  content: '';
  background: url('../img/catalog/03.svg') 0 0 no-repeat;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  vertical-align: middle;
}
.catalog-menu__item:nth-child(4)::before{
  display: inline-block;
  content: '';
  background: url('../img/catalog/04.svg') 0 0 no-repeat;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  vertical-align: middle;
}
.catalog-menu__item:nth-child(5)::before{
  display: inline-block;
  content: '';
  background: url('../img/catalog/05.svg') 0 0 no-repeat;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  vertical-align: middle;
}
.catalog-menu__item:nth-child(6)::before{
  display: inline-block;
  content: '';
  background: url('../img/catalog/06.svg') 0 0 no-repeat;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  vertical-align: middle;
}
.catalog-menu__item:nth-child(7)::before{
  display: inline-block;
  content: '';
  background: url('../img/catalog/07.svg') 0 0 no-repeat;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  vertical-align: middle;
}
.catalog-menu__item:nth-child(8)::before{
  display: inline-block;
  content: '';
  background: url('../img/catalog/08.svg') 0 0 no-repeat;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  vertical-align: middle;
}
.catalog-menu__item:nth-child(9)::before{
  display: inline-block;
  content: '';
  background: url('../img/catalog/09.svg') 0 0 no-repeat;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  vertical-align: middle;
}
.catalog-menu__item:nth-child(10)::before{
  display: inline-block;
  content: '';
  background: url('../img/catalog/10.svg') 0 0 no-repeat;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  vertical-align: middle;
}

.catalog-menu__item::after {
  display: inline-block;
  content: '';
  background: url('../img/catalog/arrow_yellow.svg') 0 center no-repeat;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.catalog-menu__item:hover::after {
  display: inline-block;
  content: '';
  background: url('../img/catalog/arrow.svg') 0 center no-repeat;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
.catalog-menu__item:hover {
  background-color: #ffbc57;
 
}
.catalog-menu__link {
  display: inline-block;
  min-width: 161px;
}
.second-menu {
  padding: 20px 20px 175px 30px;
  position: absolute;
  min-width: 308px;
  top: 0;
  left: 285px;
  z-index: 20;
  background-color: #fff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  visibility: hidden;
  opacity: 0; 
}
.second-menu::after{
  content: '';
  position: absolute;
  top: 70px;
  right: 100%;
  width: 90%;
  height: 63px;
  /* background-color: #393838; */
}

.catalog-menu__item:hover .second-menu {
  visibility: visible;
  opacity: 1;
}

.second-menu__item {
  font-weight: 400;
  margin-bottom: 10px;
  min-width: 270px;
  font-size: 19px;
  line-height: 2.10; /* 40/19 */
}

.second-menu__item:not(:last-child) {
  margin-bottom: 10px;
}

.second-menu__link {
}
.second-menu__link:hover {
  text-decoration: underline;
}

/*--------Product-card-------------*/
.product-cards {
}
.product-card {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-align: left;
}
.product-card--sneakers{
  margin-left: 15px;
  margin-bottom: 20px;
  display: inline-block;
}
.product-card--dress {
  margin-left: 15px;
  margin-bottom: 20px;
  display: inline-block;
}
.product-card__labels {
  position: absolute;
  top: 26px;
  left: 0;
  z-index: 3;
}
.product-card__label {
  padding: 4px 12px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}
.product-card__label:not(:last-child){
  margin-bottom: 10px;
}
.product-card__label--hot {
  background-color: red;
}
.product-card__link:hover {
  transform: scale(1.03);
}
.product-card__image {
  max-width: 324px;
  margin-bottom: 18px;
}
.product-card__title {
}
.product-card__title:not(:last-child) {
  margin-bottom: 16px;
}
.product-card__title-link {
  text-transform: capitalize;
  font-weight: 600;
}
.product-card__title-link:hover {
  text-decoration: underline;
}
.product-card__category-link {
  text-transform: lowercase;
  color: rgba(0, 0, 0, 0.507);
}
.product-card__category-link:hover {
  color: rgb(204, 60, 60);
}

/*-----------Page--------------*/
.page {
  margin: 0 auto;
  padding: 0 15px;
}
.blocks {

}
.blocks__item {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding: 20px 0;
}
.blocks__item:nth-child(1) {
  background-color: #794f45;
  /* position: sticky;
  top: 0;
  left: 0;
  z-index: 50; */
}

.blocks__item:nth-child(2) {
  padding: 20px 0;
  background-color: #77608d;
  /* position: relative;
  top: 10px;
  left: 15px; */
}

.blocks__item:nth-child(3) {
  background-color: #7a956b;
  /* position: absolute;
  top: 10px;
  left: 45px;
  z-index: 3; */
}

p {
  font-size: 30px;
}

/*----------Image-------------*/
.image {
  display: inline-block;
  position: relative;
}

.image::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/bg.webp') 0 0 / 100%;
  opacity: 0.2;
  transition: all 0.3s; 
}

.image:hover:before {
  opacity: 0;
}

.image__item {
  max-width: 100%;
}

/*-----------Footer--------------*/
.footer {
  background: rgba(0, 0, 0, 0.1);
  padding: 20px; 
}
.footer h4 {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
  color: #6563FF;
  text-align: center;
}
.footer-list {
  padding: 20px 0;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 20px;
}
.footer-item {  
}
.footer-link {
  width: 50px;
  height: 50px;
}