@use "sass:math";

@import url("https://fonts.googleapis.com/css?family=Orbitron:500,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo+2:regular&display=swap");

// Локальне підключення шрифтів
@import "_fonts.scss";
// Скидання стилів
@import "_reset.scss";
// Міксіни
@import "_mixins.scss";
// Окремі сторінки
// @import "_home.scss";
// Окремі компоненти
// @import "_header.scss";
// @import "_footer.scss";
// ...

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1512;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1303;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// ==========================================================

body {
  font-family: "Exo", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;

  .menu-open & {
    overflow: hidden;
  }
}
.wrapper {
  min-height: 100%;
  overflow: clip;

  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #000001;
}
.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1303px; //! Oбмежуючий контейнер+відступи
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
//----Загальні стилі------//
.page {
  &__home {
    padding-top: 150px;
    @include adaptiveValue("margin-bottom", 80, 20, 0, 1512, 393);
    @media (max-width: toEm(767.98)) {
      padding-top: toRem(80);
    }
  }
  &__about {
    @include adaptiveValue("margin-bottom", 200, 80, 0, 1512, 393);
  }
  &__portfolio {
    @include adaptiveValue("margin-bottom", 200, 75, 0, 1512, 393);
  }
}

.button {
  max-width: 255px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #6f00a9;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 900;
  padding: 15px 0px;
  text-align: center;
  transition: background-color 0.8s;
  @media (any-hover: hover) {
    &:hover {
      background-color: #0b0045;
    }
  }
  @media (max-width: toEm(393)) {
    max-width: 175px;
    padding: 8px 0px;
    font-size: 14px;
    line-height: 142.857143%; /* 20/14 */
  }
}
//========Шаблони==========//

%title-theme {
  font-family: "Exo", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.16;
  @include adaptiveValue("font-size", 60, 24, 0, 1512, 393);
  @media (max-width: toEm(767.98)) {
    line-height: 1.2;
  }
  @media (max-width: toEm(393)) {
    line-height: 1.25;
  }
}
//========Header==========//
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #000001;
  z-index: 50;
  &__container {
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 30px;
    @include adaptiveValue("column-gap", 50, 30, 0, 1920, 991.98);
    @media (max-width: toEm(991.98)) {
      padding-top: 40px;
      padding-bottom: 20px;
    }
  }
}
.menu {
  &__logo {
    white-space: nowrap;
    font-family: "Exo 2", sans-serif;
    text-transform: capitalize;
    line-height: 66.666667%; /* 20/30 */
    @include adaptiveValue("font-size", 30, 16, 0, 1512, 393);
    @include adaptiveValue("letter-spacing", -3, -1.6, 0, 1512, 393);
    position: relative;
    z-index: 5;
  }
  &__body {
    @media (max-width: toEm(767.98)) {
      position: fixed;
      top: 0;
      right: -100%;
      transition: all 0.5s;
      width: 100%;
      height: 100%;
      background: #000001;
      opacity: 0.94;
      z-index: 4;
      overflow: auto;
      &::before {
        content: "";
        position: fixed;
        top: 0;
        right: -100%;
        height: 70px;
        width: 100%;
        background-color: #000001;
        z-index: 4;
        .menu-open & {
          right: 0;
        }
      }
      .menu-open & {
        right: 0;
      }
    }
  }
  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    @include adaptiveValue("column-gap", 60, 20, 1512, 1150);
    max-width: 794px;
    @media (max-width: toEm(767.98)) {
      row-gap: 15px;
      flex-direction: column;
      padding-top: 80px;
      align-items: flex-start;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  &__item {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.8s;
    &:hover {
      background-color: #6f00a9;
    }
    @media (max-width: toEm(767.98)) {
      padding: 5px;
    }
  }
  &__link {
    font-family: "Orbitron", sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    line-height: 125%; /* 20/16 */
    transition: all 1s;
    @media (max-width: toEm(767.98)) {
      font-size: toRem(25);
    }
  }
  &__social {
  }
  &__icon {
  }
}
.social-menu {
  display: flex;
  flex: 0 0 100px;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 19px;
  row-gap: toRem(10);
  justify-content: flex-start;

  &__item {
  }
  &__link {
    width: 20px;
    height: 20px;
    transition: all 0.4s;
    & img {
      width: 100%;
      height: 100%;
    }
    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
.icon-menu {
  display: none;
  @media (max-width: toEm(767.98)) {
    display: block;
    flex: 0 0 30px;
    height: 19px;
    position: relative;
    z-index: 5;
    & span,
    &::before,
    &::after {
      content: "";
      right: 0;
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: #fff;
    }
    &::before {
      top: 0;
      .menu-open & {
        top: 50%;
        transform: rotate(-45deg);
        margin-top: -1.5px;
      }
    }
    &::after {
      bottom: 0;
      .menu-open & {
        bottom: 50%;
        transform: rotate(45deg);
        margin-bottom: -1.5px;
      }
    }
    & span {
      top: calc(50% - 1px);
      .menu-open & {
        transform: scale(0);
      }
    }
  }
}
// ==========Home-section========//
.home-section {
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    top: -19%;
    left: -9.9%;
    position: absolute;
    @include adaptiveValue("border-radius", 480, 120, 0, 1512, 393);
    @include adaptiveValue("width", 480, 120, 0, 1512, 393);
    @include adaptiveValue("height", 480, 120, 0, 1512, 393);
    opacity: 0.3;
    background: linear-gradient(
      90deg,
      rgba(151, 0, 255, 0.6) 0%,
      rgba(87, 255, 28, 0.6) 36.9%,
      rgba(255, 0, 0, 0.6) 67.4%,
      rgba(0, 56, 255, 0.6) 100%
    );
    filter: blur(50px);
    @media (max-width: toEm(393)) {
      top: 10%;
      left: 9.2%;
    }
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -22.5%; /* 135/600 */
    right: -4.89418%; /* -74/1512 */
    @include adaptiveValue("border-radius", 480, 120, 0, 1512, 393);
    @include adaptiveValue("width", 480, 120, 0, 1512, 393);
    @include adaptiveValue("height", 480, 120, 0, 1512, 393);
    opacity: 0.3;
    background: linear-gradient(
      90deg,
      rgba(151, 0, 255, 0.6) 0%,
      rgba(87, 255, 28, 0.6) 36.9%,
      rgba(255, 0, 0, 0.6) 67.4%,
      rgba(0, 56, 255, 0.6) 100%
    );
    filter: blur(50px);
    z-index: 1;
    @media (max-width: toEm(393)) {
      bottom: 10%;
      right: 8.905852%; /* 35/393 */
    }
  }
  &__container {
  }
  &__body {
    display: flex;
    @include adaptiveValue("column-gap", 58, 30, 0, 1512, 393);
  }
  &__picture {
    display: flex;
    justify-content: center;
    flex: 0 1 688px;
    max-height: 508px;
    min-height: 147px;
    position: relative;
    min-width: 110px;
  }
  &__img-man {
    width: 100%;
    @include adaptiveValue("width", 376, 177, 0, 1512, 393);
    @include adaptiveValue("height", 508, 280, 0, 1512, 393);
    object-fit: cover;
    z-index: 3;
  }
  &__current-left {
    max-width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    @include adaptiveValue("width", 315, 97, 0, 1512, 393);
    @include adaptiveValue("height", 355, 109, 0, 1512, 393);
    @media (max-width: toEm(767.98)) {
      width: 100%;
    }
    @media (max-width: toEm(500)) {
      transform: translateX(0%);
    }
  }
  &__current-right {
    max-width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    @include adaptiveValue("width", 286, 90, 0, 1512, 393);
    @include adaptiveValue("height", 321, 109, 0, 1512, 393);
    @media (max-width: toEm(767.98)) {
      display: none;
    }
  }
  &__latter-ae {
    position: absolute;
    top: 13.77%;
    right: 8.72%;
    z-index: 2;
    transform: rotate(30deg);
    @include adaptiveValue("width", 70, 20, 0, 1512, 393);
    @include adaptiveValue("height", 88, 28, 0, 1512, 393);
    @media (max-width: toEm(767.98)) {
      top: 21.022727%; /* 37/176 */
      // right: 46.391753%; /* 45/97 */
      transform: rotate(18deg);
    }
  }
  &__latter-pr {
    position: absolute;
    top: 4.33%;
    left: 3.63%;
    z-index: 2;
    transform: rotate(-45deg);
    @include adaptiveValue("width", 110, 28, 0, 1512, 393);
    @include adaptiveValue("height", 136, 34, 0, 1512, 393);
    @media (max-width: toEm(767.98)) {
      top: 11.3%;
      transform: rotate(-15deg);
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    flex: 0 1 584px;
    width: 584px;
    gap: 20px;
    position: relative;
    z-index: 3;
    @include adaptiveValue("margin-top", 112, 23, 0, 1512, 393);
    @media (max-width: toEm(393)) {
      gap: 12px;
      max-width: 233px;
    }
  }
  &__name {
    display: inline-block;
    max-width: 120px;
    line-height: 111.111111%; /* 20/18 */
    text-transform: uppercase;
    letter-spacing: -0.36px;
    &::after {
      content: "";
      display: block;
      width: 120%;
      height: 2px;
      @include adaptiveValue("margin-top", 10, 4, 0, 1512, 393);
      background: linear-gradient(90deg, #f00 0%, #42ff00 48.9%, #2400ff 100%);
      @media (max-width: toEm(767.98)) {
        width: 90%;
      }
      // @media (max-width: toEm(393)) {
      //   width: 100%;
      // }
    }
    @include adaptiveValue("font-size", 18, 14, 0, 1512, 320);
  }
  &__title {
    @extend %title-theme;
    line-height: 87.5%; /* 70/80 */
    @media (max-width: toEm(393)) {
      line-height: 109.375%; /* 35/32 */
    }
    @include adaptiveValue("font-size", 80, 30, 0, 1512, 320);
  }
  &__text {
    text-transform: capitalize;
    line-height: 222.222222%; /* 40/18 */
    @include adaptiveValue("font-size", 18, 14);
    @include adaptiveValue("letter-spacing", -0.36, -0.26, 0, 1512, 393);
    @media (max-width: toEm(393)) {
      line-height: 107.142857%; /* 15/14 */
    }
  }
  &__button {
  }
  &__size767 {
    display: none;
    @media (max-width: toEm(767.98)) {
      display: block;
      display: flex;
      flex-direction: column;
      margin-top: toRem(40);
      align-items: center;
      row-gap: toRem(40);
      position: relative;
      z-index: 3;
    }
  }
}
// ==========About-section========//
.about-section {
  position: relative;
  background: linear-gradient(
      180deg,
      hsla(0, 0%, 0%, 0.902) 0%,
      hsla(0, 0%, 0%, 0.988) 85.54%
    ),
    url("../img/main/about_section/about_section_background.webp") 0 0 / cover
      no-repeat;
  &__container {
    max-width: 1182px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    @include adaptiveValue("padding-top", 120, 0, 0, 1512, 393);
    @include adaptiveValue("padding-bottom", 120, 0, 0, 1512, 393);
    @media (max-width: toEm(393)) {
      padding-right: toRem(30);
      padding-left: toRem(30);
    }
  }
  &__title {
    @extend %title-theme;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: toRem(992);
    width: 100%;
    @include adaptiveValue("row-gap", 20, 4, 0, 1512, 393);
    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
    &::after {
      content: "";
      align-self: center;
      width: 40%;
      height: 2px;
      background: linear-gradient(90deg, #f00 0%, #42ff00 48.9%, #2400ff 100%);
    }
  }
  &__text {
    max-width: toRem(992);
    text-align: center;
    line-height: 222.222222%; /* 40/18 */
    letter-spacing: -0.36px;
    text-transform: capitalize;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 20, 0, 1512, 393);
    }
    @include adaptiveValue("font-size", 18, 14, 0, 1512, 393);
    @media (max-width: toEm(393)) {
      letter-spacing: -0.28px;
      line-height: 214.285714%; /* 30/14 */
    }
  }
  &__bottom {
  }
  &__wrap {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }

  &__content {
    display: inline-block;
    // padding-left: 100%;
    animation: marquee 10s linear infinite;
  }
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  &__list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    column-gap: toRem(20);
  }
  &__item {
    display: flex;
    align-items: center;
    &::after {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: linear-gradient(90deg, #f00 0%, #42ff00 48.9%, #2400ff 100%);
      @include adaptiveValue("margin-left", 40, 25, 0, 1512, 393);
    }
  }
  &__link {
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    white-space: nowrap;
    display: flex;
    transition: background-color 0.4s;
    line-height: 1.25;
    @include adaptiveValue("font-size", 20, 14, 0, 1512, 393);
    @include adaptiveValue("padding", 10, 5, 0, 1512, 393);
    @media (max-width: toEm(393)) {
      line-height: 1.07;
    }
  }
}

// ==========Portfolio-section========//
.portfolio-section {
  position: relative;

  &__container {
    position: relative;
    z-index: 2;
  }
  &__title {
    @extend %title-theme;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: flex-start;
    max-width: toRem(427);
    width: 100%;
    @include adaptiveValue("row-gap", 20, 4, 0, 1512, 393);
    &::after {
      content: "";
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, #f00 0%, #42ff00 48.9%, #2400ff 100%);
      @media (max-width: toEm(767.98)) {
        width: 70%;
      }
      @media (max-width: toEm(393)) {
        width: 53%;
      }
    }
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 120, 20, 0, 1512, 393);
    }
  }
  &__previues {
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.previues-portfolio {
  display: flex;
  gap: 40px;
  overflow-x: auto;
  overflow-y: clip;
  @include adaptiveValue("gap", 40, 21, 0, 1512, 393);
  &__item {
  }
}
.item-portfolio {
  flex-shrink: 0;
  flex-basis: 360px;
  transition: all 0.8s;
  @media (max-width: toEm(997.98)) {
    flex-basis: 300px;
  }
  @media (max-width: toEm(620)) {
    flex-basis: 250px;
  }
  @media (max-width: toEm(393)) {
    flex-basis: 193px;
  }
  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  &__images {
  }
  &__signature {
    font-family: "Exo", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    @include adaptiveValue("font-size", 40, 14, 0, 1512, 393);
    transition: all 0.8s;
  }
  &:hover p {
    display: block;
  }
  &:hover .images-portfolio {
    border: 7px solid #9700ff;
  }
  &:hover .images-portfolio {
    &__video::before {
      opacity: 0.8;
    }
  }
  &:hover &__signature {
    color: #9700ff;
  }
}
.images-portfolio {
  display: flex;
  position: relative;
  &__video {
    display: flex;
    position: relative;
    transition: all 0.8s;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 360 / 360;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.5;
    }
  }
  &__button {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 0;
    flex: 0 0 225px;
    width: 100%;
    transform: translateY(-50%);
    row-gap: 10px;
    & img {
      display: inline-flex;
      flex: 0 1 120px;
      width: 120px;
      align-self: center;
      @media (max-width: toEm(767.98)) {
        flex: 0 1 85px;
        width: 85px;
      }
      @media (max-width: toEm(393)) {
        flex: 0 1 65px;
        width: 65px;
      }
    }
    & p {
      display: none;
      text-align: center;
      vertical-align: middle;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      max-width: 100%;
      transition: all 0.8s;
      @include adaptiveValue("font-size", 40, 14, 0, 1512, 393);
    }
  }
}
